.p {
    //color: white;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;

    color: #283C65;

    @media (max-width:1600px) {
        font-size: 16px;
    }
}

.p-button {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;

    @media (max-width:1600px) {
        font-size: 16px;
    }
}

.h2 {
    font-weight: 600;
    font-size: 40px;
    line-height: 95%;
    //text-align: center;

    @media (max-width:1600px) {
        font-size: 32px;
    }
}

.h4 {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
}