@charset "UTF-8";
.editor-texto p,
.editor-texto span,
.editor-texto ul,
.editor-texto ol,
.editor-texto li,
.editor-texto a {
  color: #212529;
  font-weight: 400;
  line-height: 1.25;
}
.editor-texto h1,
.editor-texto h2,
.editor-texto h3,
.editor-texto h4,
.editor-texto h5,
.editor-texto h6 {
  margin-top: 1.5em;
  margin-bottom: 1em;
  color: #6c757d;
}
.editor-texto li + li {
  margin-top: 0.1em;
}
.editor-texto a {
  font-weight: 500;
}
@media (hover: hover) {
  .editor-texto a:hover:hover {
    text-decoration: underline;
  }
}
.editor-texto b {
  font-weight: 600;
}
.editor-texto ul {
  list-style: none;
  padding-left: 0.5em;
}
.editor-texto ul li::before {
  content: "•";
  font-weight: 400;
  color: #6c757d;
  font-size: 0.6em;
  margin-right: 0.75em;
}
.editor-texto ol {
  list-style: decimal;
  list-style-position: inside;
  padding-left: 0.5em;
}
.editor-texto ol li::marker {
  color: #6c757d;
}
.editor-texto *:first-child {
  margin-top: 0;
}
.editor-texto *:last-child {
  margin-bottom: 0;
}
.editor-texto blockquote {
  padding: 1em;
  margin-left: -1em;
  border-left: 2px solid #6c757d;
}
.editor-texto blockquote,
.editor-texto blockquote * {
  color: #6c757d;
}
.editor-texto-light p,
.editor-texto-light span,
.editor-texto-light ul,
.editor-texto-light ol,
.editor-texto-light li,
.editor-texto-light a {
  color: #f8f9fa;
}
.editor-texto-light h1,
.editor-texto-light h2,
.editor-texto-light h3,
.editor-texto-light h4,
.editor-texto-light h5,
.editor-texto-light h6 {
  color: #0d6efd;
}
.editor-texto-light ul li::before {
  color: #0d6efd;
}
.editor-texto-light ol li::marker {
  color: #0d6efd;
}
.editor-texto-light blockquote {
  border-left: 2px solid #0d6efd;
}
.editor-texto-light blockquote,
.editor-texto-light blockquote * {
  color: #6c757d;
}

@media (hover: hover) {
  .produto-card:hover {
    background-color: #0d6efd;
  }
}
.produto-card-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.produto-card-description {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media (hover: hover) {
  .blog-card:hover {
    background-color: #0d6efd;
  }
}
.blog-card-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.blog-card-description {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

body {
  font-family: "Poppins";
  font-style: normal;
  padding-right: initial !important;
}

header ul li {
  list-style: none;
  margin: 0px 30px;
}
@media (max-width: 1400px) {
  header ul li {
    margin: 0px 10px;
  }
}
header ul li a:hover {
  color: #eaeaea;
}

footer h2 {
  font-weight: 700;
  font-size: 24px !important;
}
footer .copyright {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}
footer .copyright .margin-auto {
  margin: 0px auto;
}

#home .banner {
  z-index: -1;
}
#home .banner .ratio {
  background-image: url(../images/backgrounds/bannerr.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#home .banner .ratio .conteudo {
  padding-left: 200px;
}
@media (max-width: 1400px) {
  #home .banner .ratio .conteudo {
    padding-left: 140px;
  }
}
@media (max-width: 992px) {
  #home .banner .ratio .conteudo {
    padding: 0px 30px;
    text-align: center;
  }
}
#home .banner .ratio .conteudo .h2 {
  font-size: 54px;
  line-height: 115%;
  width: 60%;
}
@media (max-width: 1700px) {
  #home .banner .ratio .conteudo .h2 {
    font-size: 45px;
    width: 70%;
  }
}
@media (max-width: 1400px) {
  #home .banner .ratio .conteudo .h2 {
    font-size: 45px;
    width: 80%;
  }
}
@media (max-width: 1400px) {
  #home .banner .ratio .conteudo .h2 {
    font-size: 45px;
    width: 90%;
  }
}
#home .banner .eng {
  bottom: -100px;
  left: 55%;
  transform: translate(-50%);
  width: 10%;
}
#home .marcas-banner {
  background-image: url(../images/banners/marcas-banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 98%;
  margin-top: -80px;
}
@media (max-width: 992px) {
  #home .marcas-banner {
    height: 500px;
    z-index: 0;
    clip: rect(0px 50px 50px 0px);
  }
}

.saiba-mais {
  border-radius: 0px 100px 0px 100px;
}
.saiba-mais .conteudo-texto {
  text-align: center;
}
.saiba-mais .conteudo-texto span {
  font-weight: 700;
}
.saiba-mais .conteudo-texto .h2 {
  font-size: 50px;
  line-height: 58px;
}
@media (max-width: 992px) {
  .saiba-mais .conteudo-texto .h2 {
    font-size: 40px;
  }
}
.saiba-mais .mais-fotos {
  cursor: pointer;
  position: relative;
  z-index: 99;
}
.saiba-mais .mais-fotos::after {
  background: linear-gradient(0deg, rgba(48, 48, 48, 0.9), rgba(48, 48, 48, 0.9));
  width: 100%;
  height: 100%;
  content: "Saiba mais";
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 36px;
  line-height: 54px;
}
.saiba-mais .mais-fotos .ratio::after {
  content: "+2";
  width: 100%;
  height: 100%;
  color: white;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  font-size: 64px;
  line-height: 90%;
  z-index: 9;
}

.numeros {
  background-image: url(../images/backgrounds/numeros.png);
  background-repeat: no-repeat;
  background-position-x: 85%;
  background-position-y: 50%;
}
@media (max-width: 992px) {
  .numeros {
    background-image: none;
  }
}
.numeros .conteudo-texto span {
  font-weight: 700;
}
.numeros .conteudo-texto .h2 {
  font-size: 50px;
}
.numeros .conteudo-texto .dados {
  width: 200%;
}
@media (max-width: 1300px) {
  .numeros .conteudo-texto .dados {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .numeros .conteudo-texto .dados {
    width: 50%;
  }
}
.numeros .conteudo-texto .dados .item {
  margin-right: 20px;
  padding: 30px 40px;
  border-radius: 30px;
  float: left;
}
@media (max-width: 992px) {
  .numeros .conteudo-texto .dados .item {
    flex: 0 0 50%;
  }
}
.numeros .conteudo-texto .dados .item h2 {
  margin-bottom: 0px;
}
.numeros .conteudo-texto .dados .item .h2 {
  font-weight: 700;
  font-size: 35px;
}
.numeros .conteudo-texto .dados .item .p-dados {
  font-weight: 700;
  font-size: 20px;
}

.diferenciais {
  background-image: url(../images/backgrounds/diferenciais.png);
}
.diferenciais .h2 {
  font-size: 50px;
}
.diferenciais .diferenciais-swiper .swiper-slide .ratio {
  border: 3px solid #FF2E17;
  border-radius: 50%;
  width: 120px;
}
.diferenciais .diferenciais-swiper .swiper-slide .ratio img {
  width: 56px;
  height: 56px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.diferenciais .diferenciais-swiper .swiper-pagination {
  --swiper-theme-color: #FF2E17;
}

.marcas .h2 {
  font-size: 50px;
}
.marcas .marcas-swiper {
  position: initial !important;
}
.marcas .marcas-swiper .swiper-slide .ratio {
  border-radius: 50%;
}
.marcas .marcas-swiper .swiper-slide .ratio img {
  width: 56px;
  height: 56px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.marcas .marcas-swiper .swiper-button-next,
.marcas .marcas-swiper .swiper-button-prev {
  --swiper-theme-color: white;
  background-color: #FF2E17;
  border-radius: 50%;
  padding: 20px;
  --swiper-navigation-size: 18px;
  top: 45%;
}
.marcas .marcas-swiper .swiper-button-prev {
  left: -5%;
}
.marcas .marcas-swiper .swiper-button-next {
  right: -5%;
}

.contato {
  background-image: url(../images/backgrounds/contato.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.contato h2 {
  font-size: 50px;
}
.contato .row {
  border: 3px solid white;
  padding: 20px;
  border-radius: 40px;
}
.contato .col-12 {
  border-radius: 30px;
}
.contato .col-12 .form-select {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #303030;
  padding: 10px 30px;
}
@media (max-width: 992px) {
  .contato .col-12 .form-select {
    font-size: 16px;
  }
}
.contato .col-12 textarea {
  width: 98%;
  height: 140px;
}
.contato .col-12 .input-check {
  border-radius: 50%;
  border: 1px solid #FF2E17;
}
.contato .col-12 span {
  border-bottom: 1px solid #303030;
  font-weight: 700;
}
.contato .checkbox-round {
  display: inline-block;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  font-size: 16px;
}
.contato .checkbox-round input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.contato .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border: 2px solid #999;
  border-radius: 50%;
}
.contato .checkbox-round:hover input ~ .checkmark {
  background-color: #f2f2f2;
}
.contato .checkbox-round input:checked ~ .checkmark {
  background-color: #FF2E17;
}
.contato .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.contato .checkbox-round input:checked ~ .checkmark:after {
  display: block;
}
.contato .checkbox-round .label-text {
  margin-left: 35px;
}

.p {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}
@media (max-width: 992px) {
  .p {
    font-size: 16px;
  }
}

.h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}
@media (max-width: 992px) {
  .h2 {
    font-size: 16px;
  }
}

.btn-outline-danger {
  border: 3px solid #FF2E17;
  border-radius: 40px;
  padding: 12px 40px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}
@media (max-width: 992px) {
  .btn-outline-danger {
    font-size: 16px;
  }
}

.bg-cinza {
  background-color: #eaeaea;
}

.conteudo-texto {
  padding: 0px 200px;
}
@media (max-width: 1500px) {
  .conteudo-texto {
    padding: 60px 100px;
  }
}
@media (max-width: 992px) {
  .conteudo-texto {
    padding: 60px 60px;
  }
}

.pagination-style {
  --swiper-theme-color: #FF2E17;
}
/*# sourceMappingURL=main.css.map */
