#blog {
    background: #F0F0F0;

    & .blog-card:hover {
        margin-top: -20px;
        background: #F0F0F0;

        & h4 {
            color: #c44438;
        }
    }

    & .blog-card {
        transition: margin-top 0.3s ease-in-out 0s;
    }

    & .alinhamento {
        justify-content: end;
    }

    & .div-button2 {
        display: none;
    }

    & .div-input {
        margin-right: 50px;

        & input {
            border: none;
            border-bottom: 1px solid #202020;
            padding: 8px 0px;
            transition: border-bottom 0.1s ease-in-out 0s;
            background-color: #f0f0f0;
        }

        & input:focus {
            outline: none;
            border-bottom: 2px solid black;

            &::placeholder {
                color: black;
            }
        }

        & img {
            cursor: pointer;
        }
    }

    & .btn-busca {
        border: 1.5px solid #202020;
        border-radius: 5px;
        padding: 12px 20px;
        margin-top: -10px;

        & img {
            padding-right: 14px;
        }
    }

    @media (max-width: 576px) {
        & .row {
            & .alinhamento {
                //margin-top: -30px;
                justify-content: center !important;

                & .div-input {
                    margin-left: 70px;
                }

                & .div-button {
                    display: none;
                }
            }

            & .div-button2 {
                display: flex !important;
                justify-content: center;
                padding-bottom: 40px;
            }
        }
    }
}