.contato {
    background: #F0F0F0;

    & .mapa {
        margin-top: -100px;

        @media (max-width: 992px) {
            margin-top: 0px;
        }
    }

    & .form-contato {

        //border-left: 1px solid #C0C0C0;
        @media (max-width: 992px) {
            border-bottom: 1px solid #c0c0c0 !important;
        }

        @media (max-width: 992px) {
            border: none;
        }

        & h2 {
            font-family: 'Archivo';
            font-style: normal;
            font-weight: 700;
            font-size: 40px;
            line-height: 130%;

            @media (max-width: 576px) {
                font-size: 28px !important;
            }
        }

        & form {

            input,
            textarea {
                border: none;
                background: #FFFFFF;
                border-radius: 5px;
                padding: 15px 22px 15px 16px;
            }

            textarea {
                height: 100%;
            }
        }

        & .div-button,
        .g-recaptcha {
            display: block !important;

            @media (max-width: 767px) {
                display: flex !important;
                justify-content: center;

            }

            @media (max-width: 992px) {
                padding-bottom: 30px;
            }
        }

        button {
            padding: 12px 30px !important;
        }
    }

    .conteudo {
        @media (max-width: 992px) {
            margin-top: 20px;
        }

        //margin-top: -60px !important;
        text-align: center;

        & h2 {
            font-family: 'Archivo';
            font-style: normal;
            font-weight: 700;
            font-size: 40px;
            line-height: 100%;
            text-align: center;


            @media (max-width: 767px) {
                font-size: 29px !important;
            }
        }

        & p {
            @media (max-width: 767px) {
                font-size: 16px !important;
            }

            font-family: 'Archivo';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 130%;
            text-align: center;
        }
    }
}