//treinamento ----------------------------------------------------------------
#treinamento {
    background: #F0F0F0;
}

.treinamento {
    background-image: url(../../../../webroot/site/src/images/backgrounds/bg-red.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 5%;

    @media (max-width:1400px) {
        background-position: 40%;
    }

    @media (max-width:767px) {
        background-position: 60% !important;
    }



    & .banner {
        margin: auto;
        background-color: transparent;
    }

    // AJUSTE
    & .swiper {
        width: 100%;

        .swiper-wrapper {
            position: absolute;
        }

        // FIM AJUSTE

        @media (max-width: 567px) {
            margin-top: -160px;
        }

        & .swiper-slide {
            text-align: center;
            font-size: 18px;
            background-color: transparent;
            display: flex;
            justify-content: center;
            align-items: center;

            & .bg {
                display: block;
                width: 100%;
                height: 400px;
                object-fit: cover;
                border-radius: 10px;
            }
        }

        & .swiper-pagination {}

        & .swiper-pagination-bullet-active {
            background: #ffffff !important;
        }

        & .swiper-pagination-bullet {
            background: #e4e1e1;
        }
    }

    & .titulo {
        & h2 {
            font-family: "Archivo";
            font-style: normal;
            font-weight: 700;
            font-size: 50px;
            line-height: 100%;
            //color: #c44438;
            color: #FFFFFF;
            text-align: center;

            @media (max-width: 992px) {
                font-size: 30px !important;
            }

            @media (max-width: 767px) {
                color: black !important;
            }
        }
    }

    & .p {
        margin: auto;

        & p {
            font-family: "Archivo";
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 140%;
            text-align: center;
            color: white;


            @media (max-width: 992px) {
                font-size: 16px !important;
            }

            @media (max-width: 767px) {
                color: black !important;
            }
        }

        & img {
            position: absolute;
            width: 500px;
            left: -30px;
            top: 40%;

            @media (max-width: 1400px) {
                position: relative;
                width: 80%;
            }
        }
    }

    & form {

        input,
        textarea {
            border: none;
            background: #FFFFFF;
            border-radius: 5px;
            padding: 15px 22px 15px 16px;
        }

        textarea {
            height: 150px;
        }
    }
}


.blog-detalhe {
    background: #f0f0f0;

    & .banner {
        margin: auto;
        background: #f0f0f0;
    }

    & .swiper {
        width: 100%;
        height: 100%;

        @media (min-width: 767px)and(max-width: 992px) {
            margin-top: -120px;
        }

        & .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #f0f0f0;
            display: flex;
            justify-content: center;
            align-items: center;

            /*& .bg {
                display: block;
                width: 100%;
                height: 400px;
                object-fit: cover;
                border-radius: 10px;
            }*/
        }

        & .swiper-pagination {}
    }

    & .titulo {
        & h2 {
            font-family: "Archivo";
            font-style: normal;
            font-weight: 700;
            font-size: 50px;
            line-height: 100%;
            color: #c44438;
            //color: #FFFFFF;
            text-align: center;

            @media (max-width: 992px) {
                font-size: 30px !important;
            }
        }
    }

    & .p {
        margin: auto;

        & p {
            font-family: "Archivo";
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 160%;
            text-align: center;

            @media (max-width: 992px) {
                font-size: 16px !important;
            }
        }

        /* & img {
            position: absolute;
            width: 500px;
            left: -30px;
            top: 40%;

            @media (max-width: 1400px) {
                position: relative;
                width: 80%;
            }
        }*/
    }

    & form {

        input,
        textarea {
            border: none;
            background: #FFFFFF;
            border-radius: 5px;
            padding: 15px 22px 15px 16px;

        }

        textarea {
            height: 150px;
        }
    }
}