.p {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;

    @media(max-width: 1600px) {
        font-size: 16px;
    }
}

.h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;

    @media(max-width: 992px) {
        font-size: 16px;
    }
}

.btn-outline-danger {
    border: 3px solid #FF2E17;
    border-radius: 40px;
    padding: 12px 40px;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;

    @media(max-width: 992px) {
        font-size: 16px;
    }

    &:hover {
        color: white;
    }
}

.bg-cinza {
    background-color: #eaeaea;
}

.conteudo-texto {
    padding: 0px 200px;

    @media(max-width: 1500px) {
        padding: 60px 100px;
    }

    @media(max-width: 992px) {
        padding: 60px 60px;
    }
}

.pagination-style {
    --swiper-theme-color: #FF2E17;

}