// Estilos do header
// Estilos do header
body {
    font-family: 'Montserrat';
    font-style: normal;
}

header {
    background: transparent;
    position: fixed;
    width: 100%;
    height: 139px;

    & .bg-img {
        //adding: 10px 0px;


        @media (max-width: 992px) {
            //padding: 25px 0px;
        }
    }

    & .container {
        &::after {
            content: "";
            width: 75%;
            color: #F0F0F0;
            border-bottom: 1px solid white;
            position: absolute;
            bottom: 0;
            left: 13%;
            display: flex;

            @media (min-width: 992px)and(max-width: 1200px) {
                left: 18% !important;
                width: 70%;
            }
        }

        & .logo {
            @media (max-width: 1600px) {
                width: 120%;
            }

            @media (max-width: 1200px) {
                width: 140%;
            }

            @media (max-width: 992px) {
                width: 200PX;
            }

            @media (max-width: 450px) {
                margin-top: 5px;
                width: 160px !important;

            }
        }
    }

    & .menu {
        list-style: none;
        z-index: 5;

        @media (min-width: 1600px)and(max-width: 2080px) {
            padding-left: 140px;
        }

        @media (min-width: 1200px)and(max-width: 1600px) {
            padding-left: 120px;
        }

        @media (min-width: 992px)and(max-width: 1200px) {
            padding-left: 100px;
        }

        @media (max-width: 992px) {
            display: none;
        }

        & li {
            padding: 0px 25px;

            @media (min-width: 1200px)and(max-width: 1400px) {
                padding: 0px 15px;
            }

            @media (min-width: 992px)and(max-width: 1200px) {
                padding: 0px 15px;
            }


            & a {
                color: white;
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                font-weight: 400;
                font-size: 20px;
                line-height: 24px;
                line-height: 22px;
                white-space: nowrap;

                @media (max-width: 1600px) {
                    font-size: 16px;
                }

                &:hover {
                    &::after {
                        content: "sobre nos";
                        color: #F0F0F0;
                        border-bottom: 5px solid #FF6A00;
                        position: absolute;
                        bottom: -2px;
                        display: flex;
                        z-index: 2;
                    }
                }
            }


        }
    }

    //menu

    & .div-button {
        @media (min-width: 1600px)and(max-width: 2980px) {
            padding-left: 200px;

        }

        @media (min-width: 1400px)and(max-width: 1600px) {
            padding-left: 160px;
        }

        @media (min-width: 1200px)and(max-width: 1400px) {
            padding-left: 120px;
        }

        @media (min-width: 992px)and(max-width: 1200px) {
            padding-left: 120px;
        }

        @media (max-width: 767px) {
            justify-content: flex-end;
            margin-top: 0px !important;
            //margin-left: 50px;
        }

        & input {
            //color: black;
            background-color: transparent;
            border: none;
            border-bottom: 2px solid #86A3B7;
            color: black;
            display: block;
            width: 90%;
            transition: border-bottom 0.25s ease-out;
            border-radius: 0px;
            font-weight: 400;
            font-size: 20px;
            padding: 10px 0px !important;

            @media (max-width: 1600px) {
                font-size: 16px;
            }

            @media (max-width: 992px) {
                display: none;
            }

            &::placeholder {
                color:
                    #253E4F;
            }

            &:focus {
                border: none;
                border-bottom: 3px solid #86A3B7;
                background-color: transparent;
                box-shadow: none;
                border-radius: 5px;
                color: black;
            }
        }

        & .button-offcanvas {
            @media (max-width: 992px) {
                display: flex;
            }
        }

        & .button-pesquisa {
            @media (min-width: 992px) {
                display: flex;
            }

            @media (max-width: 1600px) {
                width: 42px;
            }
        }

        & .button-menu {
            padding: 8px 12px 12px 12px;

            @media (max-width: 576px) {
                padding: 4px 8px 10px 8px;
            }

            margin-top: 8px;
            background: #0072BE;
            border-radius: 5px;
        }

        & img {
            padding: 10px 12px;
            background: #0072BE;
            margin-top: 3px;
            margin-left: -3px;
            cursor: pointer;

            @media (max-width: 992px) {
                width: 48px;
                margin-bottom: 0px !important;
                border-radius: 5px;
            }

            @media (max-width: 576px) {
                width: 42px;
                margin-bottom: 0px !important;
                border-radius: 5px;
            }
        }

        & .div-teste {
            @media (max-width: 992px) {
                display: flex;
            }
        }
    }

    & .riscos {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

}

.breadcrumb-wrapper {
    padding: 90px 0px;
    border-bottom: 1px solid #f0f0f0;

    @media (max-width: 992px) {
        padding: 50px 0px;
    }

    background-image: url(../images/backgrounds/x-header.svg);
    background-repeat: no-repeat;
    background-position-x: 50%;

    & div {
        & h2 {
            font-weight: 700;
            font-size: 64px;
            line-height: 77px;
            color: #253E4F;

            @media (max-width: 1600px) {
                font-size: 50px;
            }

            @media (max-width: 992px) {
                font-size: 40px;
            }

            @media (max-width: 576px) {
                font-size: 30px;
            }
        }
    }

    & .links {

        @media (max-width: 576px) {
            padding-top: 30px;
        }

        & a {
            color: #253E4F;
            font-size: 18px;

            @media(max-width: 1400px) {
                font-size: 16px;
            }

            @media (max-width: 576px) {
                font-size: 14px;
            }

            &:hover {
                color: #FF3C01;
            }
        }
    }

}