@charset "UTF-8";
.title {
  color: rgba(0, 0, 0, 0.2);
  font-size: calc(1.7572751186rem + 1.0356040679vw);
  font-size: clamp(2rem, 1.7572751186rem + 1.0356040679vw, 3rem);
}
.title-light {
  color: rgba(255, 255, 255, 0.5);
}

.swiper-pagination-bullet {
  width: 1.25rem;
  height: 0.3rem;
  background: rgba(255, 255, 255, 0.5);
  transition: all 0.2s ease-in-out;
  opacity: 0.75;
  border-radius: 0;
}
.swiper-pagination-bullet-active {
  width: 2rem;
  height: 0.3rem;
  background: white;
  opacity: 1;
}
.swiper-pagination.dark .swiper-pagination-bullet {
  background: rgba(69, 69, 69, 0.5);
}
.swiper-pagination.dark .swiper-pagination-bullet-active {
  background: #454545;
}
.swiper-pagination.relative {
  position: relative;
}

.swiper-button-prev, .swiper-button-next {
  display: flex;
  width: max-content;
  height: max-content;
  color: #fff;
}
.swiper-button-prev::after, .swiper-button-next::after {
  content: none;
}
@media (hover: hover) {
  .swiper-button-prev:hover, .swiper-button-next:hover {
    color: #18346e;
  }
}
.swiper-button-prev {
  left: -1%;
}
@media (max-width: 991.98px) {
  .swiper-button-prev {
    left: -0.5%;
  }
}
.swiper-button-next {
  right: -1%;
}
@media (max-width: 991.98px) {
  .swiper-button-next {
    right: -0.5%;
  }
}

.editor-texto p,
.editor-texto span,
.editor-texto ul,
.editor-texto ol,
.editor-texto li,
.editor-texto a {
  color: #212529;
  font-weight: 400;
  line-height: 1.25;
}
.editor-texto h1,
.editor-texto h2,
.editor-texto h3,
.editor-texto h4,
.editor-texto h5,
.editor-texto h6 {
  margin-top: 1.5em;
  margin-bottom: 1em;
  color: #18346e;
}
.editor-texto li + li {
  margin-top: 0.1em;
}
.editor-texto a {
  font-weight: 500;
}
@media (hover: hover) {
  .editor-texto a:hover:hover {
    text-decoration: underline;
  }
}
.editor-texto b {
  font-weight: 600;
}
.editor-texto ul {
  list-style: none;
  padding-left: 0.5em;
}
.editor-texto ul li::before {
  content: "•";
  font-weight: 400;
  color: #18346e;
  font-size: 0.6em;
  margin-right: 0.75em;
}
.editor-texto ol {
  list-style: decimal;
  list-style-position: inside;
  padding-left: 0.5em;
}
.editor-texto ol li::marker {
  color: #18346e;
}
.editor-texto *:first-child {
  margin-top: 0;
}
.editor-texto *:last-child {
  margin-bottom: 0;
}
.editor-texto blockquote {
  padding: 1em;
  margin-left: -1em;
  border-left: 2px solid #18346e;
}
.editor-texto blockquote,
.editor-texto blockquote * {
  color: #6c757d;
}
.editor-texto-light p,
.editor-texto-light span,
.editor-texto-light ul,
.editor-texto-light ol,
.editor-texto-light li,
.editor-texto-light a {
  color: #f8f9fa;
}
.editor-texto-light h1,
.editor-texto-light h2,
.editor-texto-light h3,
.editor-texto-light h4,
.editor-texto-light h5,
.editor-texto-light h6 {
  color: #c81211;
}
.editor-texto-light ul li::before {
  color: #c81211;
}
.editor-texto-light ol li::marker {
  color: #c81211;
}
.editor-texto-light blockquote {
  border-left: 2px solid #c81211;
}
.editor-texto-light blockquote,
.editor-texto-light blockquote * {
  color: #6c757d;
}

@media (hover: hover) {
  .produto-card:hover {
    background-color: #c81211;
  }
}
.produto-card-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.produto-card-description {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media (min-width: 1200px) and (max-width: 1450px) {
  .card-blog {
    margin-bottom: 100px;
  }
}

.blog-card {
  background-position: center center;
  background-size: cover;
  transition: all 0.2s ease-in-out;
}
@media (max-width: 767px) {
  .blog-card {
    overflow: initial !important;
  }
}
@media (min-width: 1200px) and (max-width: 1450px) {
  .blog-card {
    overflow: initial !important;
  }
}
.blog-card .description {
  background-color: #18346e;
  color: #fff;
  height: 5.75rem;
  position: relative;
}
.blog-card .description .editor-texto {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.blog-card .description::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 0;
  background: linear-gradient(90deg, #18346e, #c81211 100%);
  transition: all 0.2s ease-in-out;
}
.blog-card .date {
  position: relative;
  background: linear-gradient(180deg, #c81211, #18346e 100%);
  transition: all 0.2s ease-in-out;
}
.blog-card .date span {
  color: rgba(255, 255, 255, 0.5);
}
.blog-card .date::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #c81211;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 0;
  transition: all 0.2s ease-in-out;
}
@media (hover: hover) {
  .blog-card:hover {
    transform: translateY(-5%);
    box-shadow: 0 15px 10px 0 rgba(0, 0, 0, 0.45);
  }
  .blog-card:hover .date::before {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
  }
  .blog-card:hover .description::before {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
  }
}

.header {
  border-bottom: 1px solid #fff;
  transition: all 0.2s ease-in-out;
}
@media (hover: hover) {
  .header:hover {
    background-color: rgba(0, 0, 0, 0.25);
  }
}
.header.interno {
  background: linear-gradient(270deg, #18346e, #206d4d 100%);
}
.header .logo {
  width: calc(5.0291004743rem + 4.1424162714vw);
  width: clamp(6rem, 5.0291004743rem + 4.1424162714vw, 10rem);
}
.header .menu a {
  font-size: calc(0.8663793103rem + 0.2155172414vw);
  font-size: clamp(1rem, 0.8663793103rem + 0.2155172414vw, 1.125rem);
  color: #fff;
  font-weight: lighter;
}
.header .menu .link {
  position: relative;
  transition: all 0.2s ease-in-out;
  color: #fff;
  font-size: calc(0.8663793103rem + 0.2155172414vw);
  font-size: clamp(1rem, 0.8663793103rem + 0.2155172414vw, 1.125rem);
  background: none;
  border: none;
  font-weight: 300;
}
@media (min-width: 992px) {
  .header .menu .link::before {
    content: "";
    width: 100%;
    height: 0;
    background-color: #fff;
    position: absolute;
    bottom: -0.5rem;
    left: 0;
    transition: all 0.2s ease-in-out;
    opacity: 0;
    transform: translateY(10px);
  }
}
@media (hover: hover) {
  .header .menu .link:hover::before {
    height: 1px;
    opacity: 1;
    transform: translateY(0);
  }
}
@media (max-width: 991.98px) {
  .header .menu .link {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }
  .header .menu .link::before {
    content: "";
    width: 0.75em;
    height: 0.75em;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 50rem;
  }
  .header .menu .link.active::before {
    background-color: #fff;
  }
}
.header .menu .link.dropdown-toggle {
  display: flex;
  align-items: center;
}
.header .menu .link.dropdown-toggle::after {
  border: none;
  width: 1.5ch;
  height: 1.5ch;
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15.2812 7.11895L9.7509 12.6493C9.61025 12.7899 9.41949 12.8689 9.22058 12.8689C9.02166 12.8689 8.8309 12.7899 8.69024 12.6493L3.15991 7.11895L4.22057 6.05829L9.22058 11.0583L14.2206 6.05829L15.2812 7.11895Z' fill='rgba(255, 255, 255, 0.9999)'/%3E%3C/svg%3E%0A");
  background-size: 100% 100%;
  transition: all 0.2s ease-in-out;
  background-position: center center;
}
.header .menu .link.dropdown-toggle.show::after {
  transform: rotate(180deg);
}
.header .menu .dropdown .submenu-toggle {
  display: flex;
  align-items: center;
}
.header .menu .dropdown .submenu-toggle::after {
  border: none;
  width: 1.5ch;
  height: 1.5ch;
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15.2812 7.11895L9.7509 12.6493C9.61025 12.7899 9.41949 12.8689 9.22058 12.8689C9.02166 12.8689 8.8309 12.7899 8.69024 12.6493L3.15991 7.11895L4.22057 6.05829L9.22058 11.0583L14.2206 6.05829L15.2812 7.11895Z' fill='rgba(255, 255, 255, 0.9999)'/%3E%3C/svg%3E%0A");
  background-size: 100% 100%;
  transition: all 0.2s ease-in-out;
  background-position: center center;
}
.header .menu .dropdown .submenu-toggle.show::after {
  transform: rotate(180deg);
}
.header .menu .dropdown-menu {
  background-color: #454545;
  border-radius: 5px 5px 30px 5px;
  padding: 1rem;
}
.header .menu .dropdown-menu .dropdown-item {
  font-size: 16px;
  transition: all 0.2s ease-in-out;
  color: #fff;
  border-radius: 0.25rem;
}
@media (hover: hover) {
  .header .menu .dropdown-menu .dropdown-item:hover {
    background-color: rgba(255, 255, 255, 0.25);
  }
}
.header .menu .dropdown-menu .dropdown-item:active {
  background-color: #18346e;
}
.header .menu .dropdown-menu .dropdown-item:focus {
  background-color: rgba(255, 255, 255, 0.25);
}
.header .menu .dropdown-menu li:not(:last-child) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.header .menu .dropdown-menu.dropdown-submenu {
  background-color: #313131;
  padding: 0;
}
.header .menu .dropdown-menu.dropdown-submenu li {
  border-bottom: none;
}
.header .menu .dropdown-menu.dropdown-submenu li a {
  font-size: 14px;
}
.header .menu .dropdown-menu.dropdown-submenu .list {
  max-height: 10rem;
  overflow-y: auto;
}
.header .menu .dropdown-menu.dropdown-submenu .list::-webkit-scrollbar {
  width: 5px;
}
.header .menu .dropdown-menu.dropdown-submenu .list::-webkit-scrollbar-track {
  background: transparent;
}
.header .menu .dropdown-menu.dropdown-submenu .list::-webkit-scrollbar-thumb {
  background: #888;
}
.header .menu .dropdown-menu.dropdown-submenu .list::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.header .menu .search .input-wrapper {
  border-bottom: 1px solid #fff;
}
.header .menu .search input {
  background-color: transparent;
  border: none;
  color: rgba(255, 255, 255, 0.75);
  transition: all 0.2s ease-in-out;
}
.header .menu .search input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.header .menu .search input:focus {
  background-color: rgba(255, 255, 255, 0.15);
  padding: 0.5rem;
  box-shadow: none;
}
.header .menu .search button {
  background-color: #fff;
  border-radius: 50rem;
  border: none;
  transition: all 0.2s ease-in-out;
}
@media (hover: hover) {
  .header .menu .search button:hover {
    background-color: #18346e;
    color: #fff;
  }
}
.header .menu-mobile button {
  background-color: #fff;
  border: none;
  border-radius: 0.25rem;
  padding: 0.25rem;
  width: max-content;
  height: max-content;
  display: flex;
  transition: all 0.2s ease-in-out;
  font-size: calc(0.8786375593rem + 0.5178020339vw);
  font-size: clamp(1rem, 0.8786375593rem + 0.5178020339vw, 1.5rem);
}
.header .input-mobile {
  display: none;
}
@media (max-width: 991.98px) {
  .header .input-mobile {
    align-items: center;
    user-select: none;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-200px);
    transition: all 0.2s ease-in-out;
    display: flex;
  }
  .header .input-mobile input {
    border: none;
    background-color: transparent;
    color: rgba(0, 0, 0, 0.5);
    box-shadow: none;
  }
  .header .input-mobile input::placeholder {
    color: rgba(0, 0, 0, 0.5);
  }
  .header .input-mobile button {
    width: max-content;
    height: max-content;
    display: flex;
    background: #e9ecef;
    border: none;
    border-radius: 0.25rem;
    margin-right: 0.5rem;
  }
  .header .input-mobile button:last-child {
    margin-right: 1rem;
  }
  .header .input-mobile.active {
    user-select: initial;
    pointer-events: initial;
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}
@media (max-width: 991.98px) {
  .header-offcanvas {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    border-right: 1px solid #fff;
  }
}

@media (min-width: 992px) {
  .header-offcanvas {
    position: relative !important;
    visibility: visible !important;
    opacity: 1 !important;
    transform: none;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    height: 100%;
    width: unset;
    translate: none !important;
    transition: none;
  }
  .header-offcanvas-body {
    overflow: visible;
  }
}
@media (max-width: 991.98px) {
  .header .dropdown-menu {
    margin-left: 1.2rem !important;
  }
}
.header-wrapper {
  background-color: white;
}
.header-wrapper .breadcrumb-wrapper a {
  color: #8F8F8F;
  font-size: 18px;
}
@media (max-width: 1200px) {
  .header-wrapper .breadcrumb-wrapper a {
    font-size: 16px;
  }
}

.footer .logo {
  max-width: calc(7.0291004743rem + 4.1424162714vw);
  max-width: clamp(8rem, 7.0291004743rem + 4.1424162714vw, 12rem);
}
@media (min-width: 992px) {
  .footer .logo-wrapper {
    border-radius: 0 5px 5px 0;
  }
}
.footer.interno {
  background: linear-gradient(180deg, rgba(24, 52, 110, 0.4) 0%, rgba(32, 109, 77, 0.4) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/backgrounds/footer-bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 992px) {
  .footer .info {
    border-radius: 5px 0 0 5px;
  }
}
.footer .link {
  color: #454545;
}
.footer .contact a {
  color: #454545;
}
.footer .social a {
  color: #18346e;
}
.footer a {
  transition: all 0.2s ease-in-out;
}
@media (hover: hover) {
  .footer a:hover {
    color: #c81211;
  }
}
.footer .copyright {
  color: rgba(255, 255, 255, 0.8);
}
.footer .copyright a {
  color: rgba(255, 255, 255, 0.8);
}
.footer .copyright img {
  opacity: 0.8;
  filter: brightness(10);
}

.banner {
  isolation: isolate;
}
.banner-ratio {
  --bs-aspect-ratio: 150%;
}
@media (min-width: 768px) {
  .banner-ratio {
    --bs-aspect-ratio: 56.25%;
  }
}
@media (min-width: 1600px) {
  .banner-ratio {
    --bs-aspect-ratio: 42.8571428571%;
  }
}
.banner-text {
  position: absolute;
  top: calc(50% - 75px);
  left: 50%;
  transform: translate(-50%, calc(-50% + 150px));
  z-index: 2;
}
.banner-text .text {
  font-weight: bold;
  color: #fff;
  font-size: calc(1.0145502372rem + 2.0712081357vw);
  font-size: clamp(1.5rem, 1.0145502372rem + 2.0712081357vw, 3.5rem);
}
@media (max-width: 767.98px) {
  .banner-text {
    top: calc(50% - 35px);
    transform: translate(-50%, calc(-50% + 70px));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
.banner .swiper-pagination-bullet {
  width: 0.3rem;
  height: 1.25rem;
  background: rgba(255, 255, 255, 0.5);
  transition: all 0.2s ease-in-out;
  opacity: 0.75;
  border-radius: 0;
}
@media (max-width: 767.98px) {
  .banner .swiper-pagination-bullet {
    width: 1.25rem;
    height: 0.3rem;
  }
}
.banner .swiper-pagination-bullet-active {
  height: 2.75rem;
  background: white;
  opacity: 1;
}
@media (max-width: 767.98px) {
  .banner .swiper-pagination-bullet-active {
    width: 2rem;
    height: 0.3rem;
  }
}
.banner-arrows {
  z-index: 1;
  top: calc(50% - 75px);
  left: 50%;
  transform: translate(-50%, calc(-50% + 150px));
}
@media (max-width: 767.98px) {
  .banner-arrows {
    display: contents;
  }
}

.setores .card .ratio {
  transition: all 0.2s ease-in-out;
}
.setores .card .ratio::after {
  content: "";
  display: block;
  width: 80%;
  height: 70%;
  background: #c81211;
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: -1;
  transform: translateX(-50%) skewX(-30deg);
  transition: all 0.2s ease-in-out;
}
@media (hover: hover) {
  .setores .card:hover .ratio {
    transform: scale(1.05);
  }
}

.produtos-destaque .wrapper .card-wrapper {
  position: relative;
}
.produtos-destaque .wrapper .card-wrapper::before {
  content: "";
  width: 120%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
}
.produtos-destaque .wrapper .card-wrapper .card {
  background-color: #fff;
}
@media (max-width: 991.98px) {
  .produtos-destaque .wrapper .card-wrapper .card {
    text-align: center !important;
  }
}
.produtos-destaque .wrapper .card-wrapper .card .image {
  max-width: calc(9.0291004743rem + 4.1424162714vw);
  max-width: clamp(10rem, 9.0291004743rem + 4.1424162714vw, 14rem);
}
@media (min-width: 992px) {
  .produtos-destaque .wrapper .card-wrapper .card .image {
    transform: scale(1.45);
  }
}
.produtos-destaque .wrapper .card-wrapper .card .description {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
@media (max-width: 575.98px) {
  .produtos-destaque .wrapper .card-wrapper .card .description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
.produtos-destaque .wrapper .card-wrapper:nth-child(even)::before {
  right: -50vw;
  background: linear-gradient(180deg, #18346e, #206d4d 100%);
}
.produtos-destaque .wrapper .card-wrapper:nth-child(even) .card {
  border-radius: 5px 0 0 100px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.15);
}
.produtos-destaque .wrapper .card-wrapper:nth-child(even) .row {
  flex-direction: row-reverse;
}
.produtos-destaque .wrapper .card-wrapper:nth-child(odd)::before {
  left: -50vw;
  background: linear-gradient(180deg, #c81211, #18346e 100%);
}
.produtos-destaque .wrapper .card-wrapper:nth-child(odd) .card {
  border-radius: 0 5px 100px 0;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.15);
  text-align: end;
}
.produtos-destaque .wrapper .card-wrapper:nth-child(odd) .card .button-wrapper {
  justify-content: end;
}

.blog {
  background: linear-gradient(180deg, rgba(24, 52, 110, 0.4) 0%, rgba(32, 109, 77, 0.4) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/backgrounds/footer-bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.blog-swiper {
  margin: -2rem -0.5rem;
  padding: 2rem 0.5rem;
}

#empresa {
  background-color: white;
  background-image: url(../images/backgrounds/riscos2.png);
  background-repeat: no-repeat;
  z-index: 5 !important;
  position: relative;
  background-position-y: 50%;
  background-position-x: 100%;
  /*& .riscos2 {
      position: absolute;
      right: 0;
      bottom: 40%;
  }*/
}

.empresa {
  background-image: url(../images/backgrounds/riscos.png);
  background-repeat: no-repeat;
  z-index: 2 !important;
  background-position-y: 50%;
}
.empresa .row {
  border: 1px solid #F0F0F0;
  border-radius: 5px;
  z-index: 1;
}
.empresa .mySwiper-produto {
  z-index: 2;
  background-color: white;
}
.empresa .mySwiper-produto .swiper-button-next,
.empresa .mySwiper-produto .swiper-button-prev {
  border: 1px solid #18346E;
  color: #18346E;
  width: 30px;
  height: 30px;
}
.empresa .mySwiper-produto .swiper-button-next {
  right: 10%;
}
@media (max-width: 567px) {
  .empresa .mySwiper-produto .swiper-button-next {
    right: 5px;
  }
}
.empresa .mySwiper-produto .swiper-button-prev {
  left: 10%;
}
@media (max-width: 567px) {
  .empresa .mySwiper-produto .swiper-button-prev {
    left: 5px;
  }
}
.empresa .conteudo {
  padding: 80px 120px;
}
@media (max-width: 992px) {
  .empresa .conteudo {
    padding: 40px 60px;
  }
}
@media (max-width: 576px) {
  .empresa .conteudo {
    padding: 30px 20px;
    text-align: center;
  }
  .empresa .conteudo .div-buttons {
    justify-content: center;
  }
}

.relacionados .bg-white:hover {
  margin-top: -20px;
  transition: margin-top 0.3s ease;
}
.relacionados .bg-white:hover .h2 {
  color: #c81211;
  transition: color 0.3s ease;
}
.relacionados .bg-white {
  margin-top: 0px;
  transition: margin-top 0.3s ease;
}
.relacionados .bg-white .h2 {
  transition: color 0.3s ease;
}

#contato {
  background-color: white;
  background-image: url(../images/backgrounds/riscos2.png);
  background-repeat: no-repeat;
  z-index: 5 !important;
  position: relative;
  background-position-y: 50%;
  background-position-x: 100%;
  /*& .riscos2 {
      position: absolute;
      right: 0;
      bottom: 40%;
  }*/
}

.contato {
  background-image: url(../images/backgrounds/riscos.png);
  background-repeat: no-repeat;
  z-index: 2 !important;
  background-position-y: 50%;
}
.contato .row {
  border: 1px solid #F0F0F0;
  border-radius: 5px;
  z-index: 1;
}
.contato .row form input {
  margin-bottom: 15px;
}
.contato .row .infos li {
  list-style: none;
  margin-bottom: 15px;
}
@media (max-width: 576px) {
  .contato .p,
.contato .h2,
.contato .h6 {
    text-align: center;
  }
}

.relacionados {
  position: relative;
  background-color: #f0f0f0;
  z-index: -1;
  margin-top: 120px;
}
@media (max-width: 992px) {
  .relacionados {
    margin-top: 60px;
  }
}
.relacionados .mySwiper-relacionados {
  z-index: 2;
  background-color: #F0F0F0;
  position: initial;
}
.relacionados .mySwiper-relacionados .swiper-slide {
  background: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1), 0px 8px 10px rgba(0, 0, 0, 0.1), 8px 0px 10px rgba(0, 0, 0, 0.1), -8px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-bottom: 120px;
  padding: 50px;
}
@media (max-width: 992px) {
  .relacionados .mySwiper-relacionados .swiper-slide {
    margin-bottom: 60px;
    padding: 20px;
  }
}
@media (max-width: 767px) {
  .relacionados .mySwiper-relacionados .swiper-slide {
    text-align: center;
  }
}
@media (max-width: 576px) {
  .relacionados .mySwiper-relacionados .swiper-slide {
    margin-bottom: 60px;
    padding: 10px;
  }
  .relacionados .mySwiper-relacionados .swiper-slide p {
    font-size: 14px;
  }
}
.relacionados .mySwiper-relacionados .swiper-slide button {
  font-size: 18px;
}
@media (max-width: 992px) {
  .relacionados .mySwiper-relacionados .swiper-slide button {
    font-size: 16px;
    margin-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .relacionados .mySwiper-relacionados .swiper-slide button {
    margin: auto;
    font-size: 14px;
    margin-bottom: 20px;
  }
}
.relacionados .mySwiper-relacionados .swiper-slide button:hover {
  color: white;
}
.relacionados .mySwiper-relacionados .swiper-slide button:hover a {
  color: white;
}
.relacionados .mySwiper-relacionados .swiper-slide button:hover path {
  stroke: white;
}
.relacionados .mySwiper-relacionados .swiper-button-next,
.relacionados .mySwiper-relacionados .swiper-button-prev {
  border: 1px solid #C81211;
  color: #C81211;
  width: 30px;
  height: 30px;
  /*@media (max-width: 576px) {
      display: none;
  }*/
}
.relacionados .mySwiper-relacionados .swiper-button-next {
  right: 5%;
}
@media (max-width: 1850px) {
  .relacionados .mySwiper-relacionados .swiper-button-next {
    right: 1%;
  }
}
@media (max-width: 992px) {
  .relacionados .mySwiper-relacionados .swiper-button-next {
    top: 65%;
  }
}
.relacionados .mySwiper-relacionados .swiper-button-prev {
  left: 5%;
}
@media (max-width: 1850px) {
  .relacionados .mySwiper-relacionados .swiper-button-prev {
    left: 1%;
  }
}
@media (max-width: 992px) {
  .relacionados .mySwiper-relacionados .swiper-button-prev {
    top: 65%;
  }
}

.blog-detalhe .swiper,
.blog-detalhe .swiper-wrapper {
  position: initial;
}

#produto {
  background-color: white;
  background-image: url(../images/backgrounds/riscos2.png);
  background-repeat: no-repeat;
  z-index: 5 !important;
  position: relative;
  background-position-y: 50%;
  background-position-x: 100%;
  /*& .riscos2 {
      position: absolute;
      right: 0;
      bottom: 40%;
  }*/
}

.produtos {
  background-image: url(../images/backgrounds/riscos.png);
  background-repeat: no-repeat;
  z-index: 2 !important;
  background-position-y: 50%;
}
.produtos .row {
  border: 1px solid #F0F0F0;
  border-radius: 5px;
  z-index: 1;
}
.produtos .mySwiper-produto {
  z-index: 2;
  background-color: white;
}
.produtos .mySwiper-produto .swiper-button-next,
.produtos .mySwiper-produto .swiper-button-prev {
  border: 1px solid #18346E;
  color: #18346E;
  width: 30px;
  height: 30px;
}
.produtos .mySwiper-produto .swiper-button-next {
  right: 10%;
}
@media (max-width: 567px) {
  .produtos .mySwiper-produto .swiper-button-next {
    right: 5px;
  }
}
.produtos .mySwiper-produto .swiper-button-prev {
  left: 10%;
}
@media (max-width: 567px) {
  .produtos .mySwiper-produto .swiper-button-prev {
    left: 5px;
  }
}
.produtos .conteudo {
  padding: 80px 120px;
}
@media (max-width: 992px) {
  .produtos .conteudo {
    padding: 40px 60px;
  }
}
@media (max-width: 576px) {
  .produtos .conteudo {
    padding: 30px 20px;
    text-align: center;
  }
  .produtos .conteudo .div-buttons {
    justify-content: center;
  }
}

.relacionados {
  position: relative;
  background-color: #f0f0f0;
  z-index: -1;
  margin-top: 120px;
}
@media (max-width: 992px) {
  .relacionados {
    margin-top: 60px;
  }
}
.relacionados .mySwiper-relacionados {
  z-index: 2;
  background-color: #F0F0F0;
  position: initial;
}
.relacionados .mySwiper-relacionados .swiper-slide {
  background: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1), 0px 8px 10px rgba(0, 0, 0, 0.1), 8px 0px 10px rgba(0, 0, 0, 0.1), -8px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-bottom: 120px;
  padding: 50px;
}
@media (max-width: 992px) {
  .relacionados .mySwiper-relacionados .swiper-slide {
    margin-bottom: 60px;
    padding: 20px;
  }
}
@media (max-width: 767px) {
  .relacionados .mySwiper-relacionados .swiper-slide {
    text-align: center;
  }
}
@media (max-width: 576px) {
  .relacionados .mySwiper-relacionados .swiper-slide {
    margin-bottom: 60px;
    padding: 10px;
  }
  .relacionados .mySwiper-relacionados .swiper-slide p {
    font-size: 14px;
  }
}
.relacionados .mySwiper-relacionados .swiper-slide button {
  font-size: 18px;
}
@media (max-width: 992px) {
  .relacionados .mySwiper-relacionados .swiper-slide button {
    font-size: 16px;
    margin-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .relacionados .mySwiper-relacionados .swiper-slide button {
    margin: auto;
    font-size: 14px;
    margin-bottom: 20px;
  }
}
.relacionados .mySwiper-relacionados .swiper-slide button:hover {
  color: white;
}
.relacionados .mySwiper-relacionados .swiper-slide button:hover a {
  color: white;
}
.relacionados .mySwiper-relacionados .swiper-slide button:hover path {
  stroke: white;
}
.relacionados .mySwiper-relacionados .swiper-button-next,
.relacionados .mySwiper-relacionados .swiper-button-prev {
  border: 1px solid #C81211;
  color: #C81211;
  width: 30px;
  height: 30px;
  /*@media (max-width: 576px) {
      display: none;
  }*/
}
.relacionados .mySwiper-relacionados .swiper-button-next {
  right: 5%;
}
@media (max-width: 1850px) {
  .relacionados .mySwiper-relacionados .swiper-button-next {
    right: 1%;
  }
}
@media (max-width: 992px) {
  .relacionados .mySwiper-relacionados .swiper-button-next {
    top: 65%;
  }
}
.relacionados .mySwiper-relacionados .swiper-button-prev {
  left: 5%;
}
@media (max-width: 1850px) {
  .relacionados .mySwiper-relacionados .swiper-button-prev {
    left: 1%;
  }
}
@media (max-width: 992px) {
  .relacionados .mySwiper-relacionados .swiper-button-prev {
    top: 65%;
  }
}

.h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 44px;
  color: #454545;
}
@media (max-width: 1220px) {
  .h2 {
    font-size: 36px;
  }
}

.h6 {
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
  color: rgba(0, 0, 0, 0.5);
}

.h5 {
  font-weight: 400;
  font-size: 18px;
  line-height: 17px;
  color: #454545;
}

.p {
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #454545;
}
@media (max-width: 1220px) {
  .p {
    font-size: 16px;
  }
}

.titulo {
  font-weight: 700;
  font-size: 64px;
  /* identical to box height */
  text-align: center;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.2);
  padding-top: 80px;
  padding-bottom: 40px;
}
@media (max-width: 1200px) {
  .titulo {
    font-size: 50px;
  }
}
@media (max-width: 767px) {
  .titulo {
    font-size: 40px;
  }
}
@media (max-width: 450px) {
  .titulo {
    font-size: 35px;
  }
}
/*# sourceMappingURL=main.css.map */
