// Estilos do header
body {
    font-family: 'Manrope';
    font-style: normal;
    padding-right: initial !important;
}

html {
    overflow-x: hidden;
}

main {
    overflow: hidden;

    @media(max-width: 992px) {
        z-index: 1;
    }
}

header {
    z-index: 4;

    & .bg-white {
        border-radius: 0px 0px 6px 6px;
    }

    & .link-logo {
        @media(max-width: 576px) {
            width: 150px;
        }

    }

    & ul {
        //padding-left: 200px;

        & li {
            list-style: none;
            margin: 0px 30px;

            @media(max-width: 1200px) {
                margin: 0px 20px;
            }

            & a {
                &:hover {
                    color: #eaeaea;
                }
            }
        }
    }

    & .btn-outline-light:hover,
    .btn-outline-light:active {

        & path,
        rect {
            stroke: black;
        }
    }

    & .show {

        & path,
        rect {
            stroke: black;
        }
    }

    /*& .botao-whatsapp-hoverable {
        $botao-whatsapp-color: rgb(26, 202, 35);
        box-sizing: content-box;
        box-shadow: $box-shadow;
        position: fixed;
        top: 0;
        right: 0;
        margin: 20px;

        & svg {
            color: $white;
            background-color: $botao-whatsapp-color;
            width: 50px;
            height: 50px;
            padding: 10px;
            //margin: auto;
            transform: background-image 0.2s ease-in-out;
            @include gradient-directional(darken($botao-whatsapp-color, 10), lighten($botao-whatsapp-color, 10), 50deg);

            &:hover {
                transform: background-image 0.2s ease-in-out;
                //color: #eaeaea;
                box-shadow: $box-shadow-lg;
                @include gradient-directional(darken($botao-whatsapp-color, 13), lighten($botao-whatsapp-color, 15), 50deg);
            }
        }
    }*/

    & .botao-whatsapp {
        $botao-whatsapp-color: rgb(26, 202, 35);
        $zindex-botao-whatsapp: 990;
        box-shadow: $box-shadow;
        @include linear-rfs(2rem, 2.25rem, 320px, 1920px);
        //width: 1em;
        //height: 1em;
        box-sizing: content-box;
        padding: .33em;
        isolation: isolate;
        color: $white;
        background-color: $botao-whatsapp-color;
        transition: $transition-base;

        &:hover {
            color: $white;
        }

        &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 0%;
            height: 0%;
            opacity: 0;
            transform: translate(-50%, -50%);
            transition: $transition-base;
            z-index: -1;
            @include gradient-directional(darken($botao-whatsapp-color, 10), lighten($botao-whatsapp-color, 10), 50deg);
            border-radius: 9999px;
        }

        @include media-hover {
            box-shadow: $box-shadow-lg;

            &::after {
                width: 100%;
                height: 100%;
                opacity: 1;
            }
        }

        &-wrapper {
            z-index: $zindex-botao-whatsapp;
        }

        &-hoverable {
            display: none;

            @media (hover: hover) {
                display: flex;
            }
        }

        &-not-hoverable {
            display: none;

            @media (hover: none) {
                display: flex;
            }
        }
    }
}

.breadcrumb-wrapper {
    background-image: url(../images/backgrounds/contato.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 140px;
    //padding: 40px;

    & .h2 {
        font-size: 48px;
        line-height: 48px;
    }
}