@charset "UTF-8";
.editor-texto p,
.editor-texto span,
.editor-texto ul,
.editor-texto ol,
.editor-texto li,
.editor-texto a {
  color: #212529;
  font-weight: 400;
  line-height: 1.25;
}
.editor-texto h1,
.editor-texto h2,
.editor-texto h3,
.editor-texto h4,
.editor-texto h5,
.editor-texto h6 {
  margin-top: 1.5em;
  margin-bottom: 1em;
  color: #6c757d;
}
.editor-texto li + li {
  margin-top: 0.1em;
}
.editor-texto a {
  font-weight: 500;
}
@media (hover: hover) {
  .editor-texto a:hover:hover {
    text-decoration: underline;
  }
}
.editor-texto b {
  font-weight: 600;
}
.editor-texto ul {
  list-style: none;
  padding-left: 0.5em;
}
.editor-texto ul li::before {
  content: "•";
  font-weight: 400;
  color: #6c757d;
  font-size: 0.6em;
  margin-right: 0.75em;
}
.editor-texto ol {
  list-style: decimal;
  list-style-position: inside;
  padding-left: 0.5em;
}
.editor-texto ol li::marker {
  color: #6c757d;
}
.editor-texto *:first-child {
  margin-top: 0;
}
.editor-texto *:last-child {
  margin-bottom: 0;
}
.editor-texto blockquote {
  padding: 1em;
  margin-left: -1em;
  border-left: 2px solid #6c757d;
}
.editor-texto blockquote,
.editor-texto blockquote * {
  color: #6c757d;
}
.editor-texto-light p,
.editor-texto-light span,
.editor-texto-light ul,
.editor-texto-light ol,
.editor-texto-light li,
.editor-texto-light a {
  color: #f8f9fa;
}
.editor-texto-light h1,
.editor-texto-light h2,
.editor-texto-light h3,
.editor-texto-light h4,
.editor-texto-light h5,
.editor-texto-light h6 {
  color: #00426D;
}
.editor-texto-light ul li::before {
  color: #00426D;
}
.editor-texto-light ol li::marker {
  color: #00426D;
}
.editor-texto-light blockquote {
  border-left: 2px solid #00426D;
}
.editor-texto-light blockquote,
.editor-texto-light blockquote * {
  color: #6c757d;
}

@media (hover: hover) {
  .produto-card:hover {
    background-color: #00426D;
  }
}
.produto-card-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.produto-card-description {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media (hover: hover) {
  .blog-card:hover {
    background-color: #00426D;
  }
}
.blog-card-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.blog-card-description {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

html.offcanvas-active {
  overflow: hidden;
}

body {
  font-family: "Montserrat";
  font-style: normal;
}

header {
  background: transparent;
  position: absolute;
  width: 100%;
  height: 139px;
  z-index: 1;
  /*& .linguagens{
      position: absolute;
      left: 50%;
      transform: translate(-50%);
      & img{
          cursor: pointer;
      }
  }*/
}
header .container::after {
  content: "";
  width: 75%;
  color: #F0F0F0;
  border-bottom: 1px solid white;
  position: absolute;
  bottom: 0;
  left: 13%;
  display: flex;
}
@media (min-width: 1200px) and (max-width: 1400px) {
  header .container::after {
    left: 16% !important;
    width: 70%;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  header .container::after {
    left: 14% !important;
    width: 74%;
  }
}
@media (max-width: 1600px) {
  header .container .logo {
    width: 120%;
  }
}
@media (max-width: 1200px) {
  header .container .logo {
    width: 140%;
  }
}
@media (max-width: 992px) {
  header .container .logo {
    width: 200PX;
  }
}
@media (max-width: 450px) {
  header .container .logo {
    margin-top: 5px;
    width: 160px !important;
  }
}
header .menu {
  list-style: none;
  z-index: 5;
}
@media (min-width: 1600px) and (max-width: 2080px) {
  header .menu {
    padding-left: 140px;
  }
}
@media (min-width: 1200px) and (max-width: 1600px) {
  header .menu {
    padding-left: 120px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  header .menu {
    padding-left: 100px;
  }
}
@media (max-width: 992px) {
  header .menu {
    display: none;
  }
}
header .menu li {
  padding: 0px 25px;
}
@media (min-width: 1200px) and (max-width: 1400px) {
  header .menu li {
    padding: 0px 15px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  header .menu li {
    padding: 0px 15px;
  }
}
header .menu li a {
  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  line-height: 22px;
  white-space: nowrap;
}
@media (max-width: 1600px) {
  header .menu li a {
    font-size: 16px;
  }
}
header .menu li a:hover::after {
  content: "sobre nos";
  color: transparent;
  border-bottom: 8px solid #0072BE;
  position: absolute;
  bottom: -4px;
  display: flex;
  z-index: 2;
}
header .menu li .contato:hover::after {
  content: "contato";
}
@media (min-width: 1600px) and (max-width: 2980px) {
  header .div-button {
    padding-left: 200px;
  }
}
@media (min-width: 1400px) and (max-width: 1600px) {
  header .div-button {
    padding-left: 160px;
  }
}
@media (min-width: 1200px) and (max-width: 1400px) {
  header .div-button {
    padding-left: 120px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  header .div-button {
    padding-left: 120px;
  }
}
@media (max-width: 767px) {
  header .div-button {
    justify-content: flex-end;
    margin-top: 0px !important;
  }
}
header .div-button .button {
  padding: 10px 14px !important;
}
header .div-button input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #86A3B7;
  color: black;
  display: block;
  width: 90%;
  transition: border-bottom 0.25s ease-out;
  border-radius: 0px;
  font-weight: 400;
  font-size: 20px;
  padding: 10px 0px !important;
}
@media (max-width: 1600px) {
  header .div-button input {
    font-size: 16px;
  }
}
@media (max-width: 992px) {
  header .div-button input {
    display: none;
  }
}
header .div-button input::placeholder {
  color: #253E4F;
}
header .div-button input:focus {
  border: none;
  border-bottom: 3px solid #86A3B7;
  background-color: transparent;
  box-shadow: none;
  border-radius: 5px;
  color: black;
}
@media (max-width: 992px) {
  header .div-button .button-offcanvas {
    display: flex;
  }
}
@media (min-width: 992px) {
  header .div-button .button-pesquisa {
    display: flex;
  }
}
@media (max-width: 1600px) {
  header .div-button .button-pesquisa {
    width: 42px;
  }
}
header .div-button .button-menu {
  padding: 8px 12px 12px 12px;
  margin-top: 8px;
  background: #0072BE;
  border-radius: 5px;
}
@media (max-width: 576px) {
  header .div-button .button-menu {
    padding: 4px 8px 10px 8px;
  }
}
header .div-button img {
  padding: 10px 12px;
  background: #0072BE;
  margin-top: 3px;
  margin-left: -3px;
  cursor: pointer;
}
@media (max-width: 992px) {
  header .div-button img {
    width: 48px;
    margin-bottom: 0px !important;
    border-radius: 5px;
  }
}
@media (max-width: 576px) {
  header .div-button img {
    width: 42px;
    margin-bottom: 0px !important;
    border-radius: 5px;
  }
}
@media (max-width: 992px) {
  header .div-button .div-teste {
    display: flex;
  }
}
header .riscos {
  position: absolute;
  top: 0;
  left: 0;
}
@media (max-width: 1400px) {
  header .riscos {
    left: -50px;
  }
}
@media (max-width: 1315px) {
  header .riscos {
    display: none;
  }
}

.riscos2 {
  position: absolute;
  top: 138px;
  width: 125px;
  left: 94%;
}
@media (max-width: 1400px) {
  .riscos2 {
    right: -50px;
  }
}
@media (max-width: 1315px) {
  .riscos2 {
    display: none;
  }
}

.breadcrumb-wrapper {
  padding: 90px 0px;
  border-bottom: 1px solid #f0f0f0;
  background-image: url(../images/backgrounds/x-header.svg);
  background-repeat: no-repeat;
  background-position-x: 50%;
}
@media (max-width: 992px) {
  .breadcrumb-wrapper {
    padding: 50px 0px;
  }
}
.breadcrumb-wrapper div h2 {
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
  color: #253E4F;
}
@media (max-width: 1600px) {
  .breadcrumb-wrapper div h2 {
    font-size: 50px;
  }
}
@media (max-width: 992px) {
  .breadcrumb-wrapper div h2 {
    font-size: 40px;
  }
}
@media (max-width: 576px) {
  .breadcrumb-wrapper div h2 {
    font-size: 30px;
  }
}
@media (max-width: 576px) {
  .breadcrumb-wrapper .links {
    padding-top: 30px;
  }
}
.breadcrumb-wrapper .links a {
  color: #253E4F;
  font-size: 18px;
}
@media (max-width: 1400px) {
  .breadcrumb-wrapper .links a {
    font-size: 16px;
  }
}
@media (max-width: 576px) {
  .breadcrumb-wrapper .links a {
    font-size: 14px;
  }
}
.breadcrumb-wrapper .links a:hover {
  color: #FF3C01;
}

.breadcrumb-wrapper {
  padding-top: 250px;
  background-image: url(../images/backgrounds/breadcrumb.png);
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 992px) {
  .breadcrumb-wrapper {
    padding-top: 180px;
  }
}
.breadcrumb-wrapper .h2-blue {
  font-size: 64px;
}
@media (max-width: 767px) {
  .breadcrumb-wrapper .h2-blue {
    font-size: 50px !important;
  }
}
@media (max-width: 567px) {
  .breadcrumb-wrapper .h2-blue {
    font-size: 35px !important;
  }
}
.breadcrumb-wrapper span:hover {
  color: #eaeaea;
}

footer {
  position: relative;
  z-index: 0;
  background-color: initial !important;
}
footer .site,
footer .copyright {
  padding-left: 14%;
}
@media (min-width: 992px) and (max-width: 1200px) {
  footer .site,
footer .copyright {
    padding-left: 6%;
  }
}
@media (max-width: 992px) {
  footer .site,
footer .copyright {
    padding-left: 0px;
  }
}
footer .copyright,
footer .politica {
  margin-bottom: 0px;
}
@media (max-width: 992px) {
  footer .copyright,
footer .politica {
    padding-left: initial !important;
    margin: auto;
  }
}
footer a {
  width: 366px;
  text-decoration: none;
  color: white;
  font-weight: 400;
  font-size: 18px;
  line-height: 135%;
}
@media (max-width: 1600px) {
  footer a {
    font-size: 16px;
  }
}
@media (max-width: 1200px) {
  footer a {
    width: 300px;
  }
}
footer a:hover {
  color: #dad6d6;
}
footer .img-logo {
  width: 75%;
}
footer .bg-azul {
  background-image: url(../images/backgrounds/footer.png);
  background-repeat: no-repeat;
  background-size: cover;
}
footer .bg-azul .site li {
  list-style: none;
  margin-bottom: 15px;
}
footer .bg-azul .infos {
  margin: 0px 5px;
}
footer .bg-azul .infos .redes .rede-link {
  width: 54px;
  transform: scale(1);
  transition: transform 0.2s ease-in-out;
}
footer .bg-azul .infos .redes .rede-link svg {
  padding: 10px;
  border-radius: 50%;
  border: 1px solid white;
}
footer .bg-azul .infos .redes .rede-link:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}
footer .bg-azul .infos .svg-alinhamento {
  margin-left: 20px;
}
footer .politica {
  border-bottom: 1px solid white;
}
footer .botao-whatsapp {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  font-size: calc(1.95rem + 0.25vw);
  font-size: clamp(2rem, 1.95rem + 0.25vw, 2.25rem);
  width: 1em;
  height: 1em;
  box-sizing: content-box;
  padding: 0.33em;
  isolation: isolate;
  color: #fff;
  background-color: rgb(26, 202, 35);
  transition: all 0.2s ease-in-out;
}
footer .botao-whatsapp:hover {
  color: #fff;
}
footer .botao-whatsapp::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0%;
  height: 0%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease-in-out;
  z-index: -1;
  background-image: linear-gradient(50deg, #149d1b, #32e53b);
  border-radius: 9999px;
}
@media (hover: hover) {
  footer .botao-whatsapp:hover {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  }
  footer .botao-whatsapp:hover::after {
    width: 100%;
    height: 100%;
    opacity: 1;
  }
}
footer .botao-whatsapp-wrapper {
  z-index: 990;
}
footer .botao-whatsapp-hoverable {
  display: none;
}
@media (hover: hover) {
  footer .botao-whatsapp-hoverable {
    display: flex;
  }
}
footer .botao-whatsapp-not-hoverable {
  display: none;
}
@media (hover: none) {
  footer .botao-whatsapp-not-hoverable {
    display: flex;
  }
}
footer .btn-bandeira {
  background-color: transparent;
  border: none;
}
footer .botao-whatsapp-wrapper .show .path {
  d: path("M5 14L10 9L15 14");
  transition: d 0.25s ease-in-out;
}
footer .botao-whatsapp-wrapper .path {
  d: path("M5 9.00525L10 14.0052L15 9.00525");
  transition: d 0.25s ease-in-out;
}
footer .idiomas {
  position: fixed;
  left: 0;
  bottom: 10%;
  flex-direction: column;
}
footer .idiomas .link {
  width: initial;
  margin: 0.5px 0px;
  padding: 10px 20px;
  border-radius: 0px 10px 10px 0px;
  background-color: rgba(0, 0, 0, 0.5);
  transform: scale(1);
  transition: transform 0.2s ease-in-out;
}
footer .idiomas .link img {
  width: 40px;
  height: 40px;
}
footer .idiomas .link:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}

#home {
  overflow: hidden;
  z-index: 0;
}
@media (max-width: 992px) {
  #home .ratio-custom {
    height: 800px;
  }
}

.construcao {
  position: relative;
  z-index: 10;
}
.construcao .construcao-swiper .swiper-slide {
  background-image: url(../images/backgrounds/construcao.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.construcao .construcao-swiper .swiper-slide .conteudo {
  padding: 167px 0px;
}
@media (max-width: 1200px) and (min-width: 992px) {
  .construcao .construcao-swiper .swiper-slide .conteudo {
    padding: 210px 0px;
  }
}
@media (max-width: 1200px) and (min-width: 992px) {
  .construcao .construcao-swiper .swiper-slide .conteudo button {
    padding: 8px 18px;
  }
}
@media (max-width: 1200px) and (min-width: 992px) {
  .construcao .construcao-swiper .swiper-slide .conteudo .h2-light {
    font-size: 35px;
  }
}
.construcao .construcao-swiper .swiper-slide .p {
  color: white;
}
.construcao .construcao-swiper .swiper-slide .p span {
  font-weight: 700;
}
.construcao .construcao-swiper .swiper-button-next,
.construcao .construcao-swiper .swiper-button-prev {
  --swiper-navigation-size: 20px;
  --swiper-theme-color: white;
}
.construcao .construcao-swiper .swiper-button-next {
  right: 20px;
}
.construcao .construcao-swiper .swiper-button-prev {
  left: 20px;
}
.construcao .construcao-swiper .swiper-scrollbar {
  height: 8px;
  border-radius: 0px;
  bottom: 0px;
}
.construcao .construcao-swiper .swiper-scrollbar-drag {
  background: white;
  border-radius: 0px;
  width: 60px !important;
}

@media (min-width: 1600px) {
  .areas .container {
    padding-right: 130px;
  }
}
@media (max-width: 1600px) {
  .areas .container {
    padding: 40px 0px;
  }
}
.areas .container .areas-swiper {
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  padding: 2rem;
  margin: -2rem;
}
@media (min-width: 1600px) {
  .areas .container .areas-swiper {
    padding: 2rem 1.22rem;
  }
}
@media (min-width: 576px) and (max-width: 992px) {
  .areas .container .areas-swiper {
    padding: 2rem 1.3rem;
  }
}
.areas .container .areas-swiper .swiper-slide {
  background-color: #EAEAEA;
  padding: 20px 40px;
  box-shadow: 0px 10px 22px rgba(0, 0, 0, 0.3);
}
@media (max-width: 1600px) {
  .areas .container .areas-swiper .swiper-slide {
    padding: 20px 20px;
  }
}
.areas .container .areas-swiper .swiper-slide .ratio img {
  width: 35px !important;
}
.areas .container .areas-swiper .swiper-pagination {
  bottom: 0 !important;
  --swiper-theme-color: #0072BE;
}
.areas .container .p {
  font-size: 16px;
}

.nossa-historia {
  background-color: #EAEAEA;
}
@media (min-width: 992px) {
  .nossa-historia {
    padding-right: 132px;
  }
}
.nossa-historia .row {
  background-image: url(../images/backgrounds/historia.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: white;
}
@media (max-width: 1400px) {
  .nossa-historia .row .eng {
    width: 500px;
  }
}
@media (max-width: 1200px) {
  .nossa-historia .row .eng {
    width: 400px;
  }
}
@media (max-width: 576px) {
  .nossa-historia .row .eng2 {
    width: 100%;
  }
}
.nossa-historia .row .conteudo {
  padding-left: 240px;
  padding-right: 40px;
}
@media (max-width: 1600px) {
  .nossa-historia .row .conteudo {
    padding: 50px;
  }
}

.diferenciais {
  background-color: #EAEAEA;
}
.diferenciais .row .diferenciais-swiper::after {
  content: "DIFERENCIAIS";
  position: absolute;
  top: 50px;
  left: 50%;
  width: 100%;
  font-weight: 700;
  font-size: 210px;
  line-height: 135%;
  text-align: center;
  color: rgba(0, 0, 0, 0.05);
  transform: translate(-50%, -50%);
}
@media (max-width: 1850px) {
  .diferenciais .row .diferenciais-swiper::after {
    font-size: 145px;
  }
}
@media (max-width: 1300px) {
  .diferenciais .row .diferenciais-swiper::after {
    font-size: 80px;
  }
}
@media (max-width: 767px) {
  .diferenciais .row .diferenciais-swiper::after {
    font-size: 60px;
  }
}
@media (max-width: 567px) {
  .diferenciais .row .diferenciais-swiper::after {
    font-size: 50px;
  }
}
@media (max-width: 400px) {
  .diferenciais .row .diferenciais-swiper::after {
    font-size: 45px;
  }
}
.diferenciais .row .diferenciais-swiper .swiper-wrapper .swiper-slide img {
  padding: 30px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0px 10px 22px rgba(0, 0, 0, 0.3);
  width: 120px;
}
@media (max-width: 1300px) {
  .diferenciais .row .diferenciais-swiper .swiper-wrapper .swiper-slide img {
    padding: 20px;
    width: 80px;
  }
}
.diferenciais .row .diferenciais-swiper .swiper-wrapper .swiper-slide h6 {
  width: 80%;
  text-align: center;
}
.diferenciais .row .diferenciais-swiper .swiper-pagination {
  --swiper-theme-color: #0072BE;
}

.empresas-parceiras {
  background-color: white;
}
.empresas-parceiras .border-t {
  border-top: 2px solid #eaeaea;
}
.empresas-parceiras h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 135%;
  /* or 43px */
  color: #0072BE;
}
@media (max-width: 1600px) {
  .empresas-parceiras h2 {
    font-size: 24px;
  }
}
.empresas-parceiras h2 span {
  color: #252525;
}
.empresas-parceiras .row .empresas-swiper .swiper-wrapper .swiper-slide img {
  width: 150px;
}
@media (max-width: 1300px) {
  .empresas-parceiras .row .empresas-swiper .swiper-wrapper .swiper-slide img {
    width: 120px;
  }
}
@media (max-width: 992px) {
  .empresas-parceiras .row .empresas-swiper .swiper-wrapper .swiper-slide img {
    width: 150px;
  }
}
.empresas-parceiras .row .empresas-swiper .swiper-scrollbar {
  border-radius: 0px;
  width: 70%;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 3px !important;
}
.empresas-parceiras .row .empresas-swiper .swiper-scrollbar .swiper-scrollbar-drag {
  height: 150%;
  width: 100%;
  position: relative;
  background: #0072BE;
  border-radius: 0px;
  left: 0;
  bottom: 0;
  margin-top: -3px;
  height: 6px !important;
}
.empresas-parceiras .row .empresas-swiper .swiper-pagination .swiper-pagination-bullet {
  width: 14%;
  border-radius: 0;
  margin: 0px;
  height: 3px;
  --swiper-theme-color: #0072BE;
}
@media (max-width: 992px) {
  .empresas-parceiras .row .empresas-swiper .swiper-pagination .swiper-pagination-bullet {
    width: 80px;
  }
}
@media (max-width: 767px) {
  .empresas-parceiras .row .empresas-swiper .swiper-pagination .swiper-pagination-bullet {
    width: 60px;
  }
}
@media (max-width: 576px) {
  .empresas-parceiras .row .empresas-swiper .swiper-pagination .swiper-pagination-bullet {
    width: 35px;
  }
}
.empresas-parceiras .row .empresas-swiper .swiper-pagination .swiper-pagination-bullet-active {
  height: 6px;
}

#empresa {
  z-index: 0;
}

.empresa {
  /* & img {
      padding: 5px;
      border-radius: 50%;
      // background-color: red;
      box-shadow: 0px 10px 22px rgb(0 0 0 / 30%);
  }*/
}
.empresa .h2-blue {
  font-size: 40px !important;
}
.empresa .banner-footer {
  margin-bottom: -160px;
}
@media (min-width: 992px) {
  .empresa .valores {
    margin-top: 140px;
  }
}
.empresa .valores .item {
  padding: 10px 16px;
  box-shadow: 0px 10px 22px rgba(0, 0, 0, 0.3);
  margin-bottom: 50px;
}
.empresa .valores .h2-blue {
  font-size: 40px !important;
}
.empresa .item {
  background-color: #eaeaea;
}
.empresa .consultoria-swiper {
  margin-top: -2px;
}
.empresa .swiper .swiper-button-next,
.empresa .swiper .swiper-button-prev {
  --swiper-navigation-size: 20px;
  --swiper-theme-color: white;
  padding: 18px;
  background: linear-gradient(86.09deg, #0072BE 0%, #2EB4FF 100%);
}

#contato {
  margin-top: -1px;
  z-index: 0;
}

#parceiros {
  z-index: 0;
}

#solucoes {
  margin-top: -1px;
  z-index: 0;
}

html {
  overflow-x: hidden;
}

.solucoes .cont1,
.solucoes .cont2,
.solucoes .cont3 {
  margin-top: -1px;
}
.solucoes .cont1,
.solucoes .cont2,
.solucoes .cont3,
.solucoes .cont4,
.solucoes .cont5,
.solucoes .cont6 {
  height: 210px;
}
.solucoes .cont1 .bg-custom,
.solucoes .cont2 .bg-custom,
.solucoes .cont3 .bg-custom,
.solucoes .cont4 .bg-custom,
.solucoes .cont5 .bg-custom,
.solucoes .cont6 .bg-custom {
  background-color: rgba(0, 0, 0, 0.4);
  transition: background-color 0.3s ease-out;
  height: 210px;
}
.solucoes .cont1 .bg-custom div,
.solucoes .cont2 .bg-custom div,
.solucoes .cont3 .bg-custom div,
.solucoes .cont4 .bg-custom div,
.solucoes .cont5 .bg-custom div,
.solucoes .cont6 .bg-custom div {
  padding: 12px 0px;
}
.solucoes .cont1 .bg-custom div h2,
.solucoes .cont2 .bg-custom div h2,
.solucoes .cont3 .bg-custom div h2,
.solucoes .cont4 .bg-custom div h2,
.solucoes .cont5 .bg-custom div h2,
.solucoes .cont6 .bg-custom div h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  color: white;
  margin-bottom: 0px;
  margin-top: 70px;
  transition: margin-top 0.3s ease-out;
}
.solucoes .cont1 .bg-custom div p,
.solucoes .cont2 .bg-custom div p,
.solucoes .cont3 .bg-custom div p,
.solucoes .cont4 .bg-custom div p,
.solucoes .cont5 .bg-custom div p,
.solucoes .cont6 .bg-custom div p {
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  text-align: center;
  color: white;
  padding: 0px 20%;
  opacity: 0;
  transition: opacity 0.3s ease-out;
}
.solucoes .cont1:hover,
.solucoes .cont2:hover,
.solucoes .cont3:hover,
.solucoes .cont4:hover,
.solucoes .cont5:hover,
.solucoes .cont6:hover {
  background-size: 100% 100%;
  transition: background-size 0.3s ease-in-out;
}
.solucoes .cont1:hover .bg-custom,
.solucoes .cont2:hover .bg-custom,
.solucoes .cont3:hover .bg-custom,
.solucoes .cont4:hover .bg-custom,
.solucoes .cont5:hover .bg-custom,
.solucoes .cont6:hover .bg-custom {
  background-color: rgba(0, 114, 190, 0.9);
  transition: background-color 0.3s ease-out;
  height: 210px;
}
.solucoes .cont1:hover .bg-custom div,
.solucoes .cont2:hover .bg-custom div,
.solucoes .cont3:hover .bg-custom div,
.solucoes .cont4:hover .bg-custom div,
.solucoes .cont5:hover .bg-custom div,
.solucoes .cont6:hover .bg-custom div {
  padding: 47px 0px;
}
.solucoes .cont1:hover .bg-custom div h2,
.solucoes .cont2:hover .bg-custom div h2,
.solucoes .cont3:hover .bg-custom div h2,
.solucoes .cont4:hover .bg-custom div h2,
.solucoes .cont5:hover .bg-custom div h2,
.solucoes .cont6:hover .bg-custom div h2 {
  margin-top: 0px;
  transition: margin-top 0.3s ease-out;
}
.solucoes .cont1:hover .bg-custom div p,
.solucoes .cont2:hover .bg-custom div p,
.solucoes .cont3:hover .bg-custom div p,
.solucoes .cont4:hover .bg-custom div p,
.solucoes .cont5:hover .bg-custom div p,
.solucoes .cont6:hover .bg-custom div p {
  transition: opacity 0.3s ease-out;
  opacity: 1;
}
.solucoes .cont1 {
  background-image: url(../images/backgrounds/solucoes1.png);
  background-repeat: no-repeat;
  background-size: 110% 110%;
  transition: background-size 0.3s ease-in-out;
}
.solucoes .cont2 {
  background-image: url(../images/backgrounds/solucoes2.png);
  background-repeat: no-repeat;
  background-size: 110% 110%;
  transition: background-size 0.3s ease-in-out;
}
.solucoes .cont3 {
  background-image: url(../images/backgrounds/solucoes3.png);
  background-repeat: no-repeat;
  background-size: 110% 110%;
  transition: background-size 0.3s ease-in-out;
}
.solucoes .cont4 {
  background-image: url(../images/backgrounds/solucoes4.png);
  background-repeat: no-repeat;
  background-size: 110% 110%;
  transition: background-size 0.3s ease-in-out;
}
.solucoes .cont5 {
  background-image: url(../images/backgrounds/solucoes5.png);
  background-repeat: no-repeat;
  background-size: 110% 110%;
  transition: background-size 0.3s ease-in-out;
}
.solucoes .cont6 {
  background-image: url(../images/backgrounds/solucoes6.png);
  background-repeat: no-repeat;
  background-size: 110% 110%;
  transition: background-size 0.3s ease-in-out;
}
.solucoes .cont-swiper .slide-img {
  background-image: url(../images/backgrounds/solucoes1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 50%;
  background-position-x: 50%;
}
.solucoes .cont-swiper .slide-img .bg-custom {
  background-color: rgba(0, 0, 0, 0.4);
}
.solucoes .cont-swiper .slide-img .bg-custom h2 {
  padding: 100px 0px;
  font-weight: 700;
  font-size: 26px;
  line-height: 40px;
  text-align: center;
  color: white;
}
@media (max-width: 767px) {
  .solucoes .cont-swiper .slide-img .bg-custom h2 {
    padding: 100px;
  }
}
@media (max-width: 576px) {
  .solucoes .cont-swiper .slide-img .bg-custom h2 {
    padding: 100px;
  }
}
.solucoes .cont-swiper .swiper-button-next,
.solucoes .cont-swiper .swiper-button-prev {
  --swiper-navigation-size: 20px;
  --swiper-theme-color: white;
}
.solucoes .cont-swiper .swiper-button-next {
  right: 15px;
}
.solucoes .cont-swiper .swiper-button-prev {
  left: 15px;
}

.bg-cinza {
  background-color: #eaeaea;
}

.consultoria {
  position: relative;
}
.consultoria .inf-dir {
  position: absolute;
  right: 0;
  bottom: 0;
}
@media (min-width: 1600px) {
  .consultoria .container {
    max-width: 1688px;
  }
}
@media (min-width: 992px) and (max-width: 1600px) {
  .consultoria .container {
    max-width: 1475px;
  }
}
.consultoria .container .consultoria-swiper .swiper-button-next,
.consultoria .container .consultoria-swiper .swiper-button-prev {
  --swiper-navigation-size: 20px;
  --swiper-theme-color: white;
  padding: 18px;
  background: linear-gradient(86.09deg, #0072BE 0%, #2EB4FF 100%);
  top: 30%;
}
@media (min-width: 992px) and (max-width: 1100px) {
  .consultoria .container .consultoria-swiper .swiper-button-next,
.consultoria .container .consultoria-swiper .swiper-button-prev {
    top: 20%;
  }
}
@media (max-width: 992px) {
  .consultoria .container .consultoria-swiper .swiper-button-next,
.consultoria .container .consultoria-swiper .swiper-button-prev {
    top: 45%;
  }
}
.consultoria .container .consultoria-swiper .swiper-button-next {
  right: 25px;
}
@media (max-width: 767px) {
  .consultoria .container .consultoria-swiper .swiper-button-next {
    right: 0px;
  }
}
.consultoria .container .consultoria-swiper .swiper-button-prev {
  left: 25px;
}
@media (max-width: 767px) {
  .consultoria .container .consultoria-swiper .swiper-button-prev {
    left: 0px;
  }
}
.consultoria .container .consultoria-swiper .swiper-scrollbar {
  bottom: 69px;
  width: 90%;
}
.consultoria .container .swiper-consultoria-diferenciais {
  margin-top: -210px;
}
@media (max-width: 1600px) {
  .consultoria .container .swiper-consultoria-diferenciais {
    margin-top: -100px;
  }
}
@media (max-width: 1400px) {
  .consultoria .container .swiper-consultoria-diferenciais {
    margin-top: -150px;
  }
}
@media (max-width: 1300px) {
  .consultoria .container .swiper-consultoria-diferenciais {
    margin-top: -200px;
  }
}
@media (max-width: 1200px) {
  .consultoria .container .swiper-consultoria-diferenciais {
    margin-top: -240px;
  }
}
@media (max-width: 1100px) {
  .consultoria .container .swiper-consultoria-diferenciais {
    margin-top: -280px;
  }
}
@media (max-width: 992px) {
  .consultoria .container .swiper-consultoria-diferenciais {
    margin-top: 0px;
  }
}
.consultoria .container .swiper-consultoria-diferenciais .swiper-wrapper .swiper-slide img {
  width: 130px;
  padding: 30px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0px 10px 22px rgba(0, 0, 0, 0.3);
}
@media (max-width: 1400px) {
  .consultoria .container .swiper-consultoria-diferenciais .swiper-wrapper .swiper-slide img {
    padding: 20px;
    width: 80px;
  }
}
.consultoria .container .swiper-consultoria-diferenciais .swiper-wrapper .swiper-slide h6 {
  width: 80%;
  text-align: center;
}
.consultoria .container .swiper-consultoria-diferenciais .swiper-pagination {
  --swiper-theme-color: #0072BE;
}
@media (min-width: 992px) and (max-width: 1100px) {
  .consultoria .container .swiper-consultoria-diferenciais .swiper-pagination {
    bottom: 20px;
  }
}
@media (max-width: 992px) {
  .consultoria .container .swiper-consultoria-diferenciais .swiper-pagination {
    bottom: 10px;
  }
}
@media (max-width: 767px) {
  .consultoria .container .conteudo {
    padding: 0px 40px;
  }
}
.consultoria .container .conteudo h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #252525;
  position: relative;
  padding-bottom: 50px;
  margin-bottom: 50px;
}
@media (max-width: 992px) {
  .consultoria .container .conteudo h2 {
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
}
.consultoria .container .conteudo h2::after {
  content: "meyer";
  color: transparent;
  position: absolute;
  bottom: 0;
  display: flex;
  border-bottom: 2px solid #0072BE;
}
@media (max-width: 992px) {
  .consultoria .container .conteudo h2::after {
    left: 50%;
    transform: translate(-50%);
  }
}
.consultoria .container .conteudo .p {
  font-weight: 400;
  font-size: 20px;
  color: #252525;
  line-height: 135%;
  padding-right: 60px;
}
@media (max-width: 1600px) {
  .consultoria .container .conteudo .p {
    padding-right: 0px;
    font-size: 16px;
    padding-left: 0px;
  }
}

.section2 {
  position: relative;
}
@media (min-width: 992px) {
  .section2 {
    padding: 120px 0px;
  }
}
.section2 .bg-cinza {
  background-color: #eaeaea;
}
.section2 .sup-esq {
  position: absolute;
  top: 0;
}
.section2 .sup-dir {
  position: absolute;
  top: 0;
  right: 0;
}
.section2 .inf-dir {
  position: absolute;
  right: 0;
  bottom: 0;
}
.section2 .consultoria-swiper .swiper-button-next,
.section2 .consultoria-swiper .swiper-button-prev {
  --swiper-navigation-size: 20px;
  --swiper-theme-color: white;
  padding: 18px;
  background: linear-gradient(86.09deg, #0072BE 0%, #2EB4FF 100%);
  top: 45%;
}
@media (max-width: 992px) {
  .section2 .consultoria-swiper .swiper-button-next,
.section2 .consultoria-swiper .swiper-button-prev {
    top: 45%;
  }
}
.section2 .consultoria-swiper .swiper-button-next {
  right: 2%;
}
@media (max-width: 767px) {
  .section2 .consultoria-swiper .swiper-button-next {
    right: 0px;
  }
}
.section2 .consultoria-swiper .swiper-button-prev {
  left: 2%;
}
@media (max-width: 767px) {
  .section2 .consultoria-swiper .swiper-button-prev {
    left: 0px;
  }
}
.section2 .consultoria-swiper .swiper-scrollbar {
  bottom: 69px;
  width: 90%;
}
@media (max-width: 767px) {
  .section2 .conteudo {
    padding: 0px 40px;
  }
}
.section2 .conteudo h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #252525;
  position: relative;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.section2 .conteudo h2::after {
  content: "meyer";
  color: transparent;
  position: absolute;
  bottom: 0;
  display: flex;
  border-bottom: 2px solid #0072BE;
}
@media (max-width: 992px) {
  .section2 .conteudo h2::after {
    transform: translate(-50%);
    display: block;
    left: 50%;
  }
}
.section2 .conteudo .p {
  font-weight: 400;
  font-size: 20px;
  color: #252525;
  line-height: 135%;
  padding-right: 60px;
}
@media (max-width: 1600px) {
  .section2 .conteudo .p {
    padding-right: 0px;
    font-size: 16px;
    padding-left: 0px;
  }
}

@media (min-width: 992px) {
  .form {
    margin-bottom: -35px;
  }
}
.form .div-form,
.form .div-form-modal {
  width: 60%;
}
@media (max-width: 1300px) {
  .form .div-form,
.form .div-form-modal {
    width: 80%;
  }
}
.form .div-form h2,
.form .div-form-modal h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  /* identical to box height */
  color: #252525;
}
.form .div-form form textarea,
.form .div-form-modal form textarea {
  height: 120px !important;
}
.form .div-form form .input-checkbox,
.form .div-form-modal form .input-checkbox {
  background: red !important;
  border-radius: none !important;
}
.form .div-form form p,
.form .div-form-modal form p {
  color: #252525;
  font-weight: 400;
  font-size: 18px;
}
@media (max-width: 992px) {
  .form .div-form form p,
.form .div-form-modal form p {
    font-size: 16px;
  }
}
.form .div-form form p span,
.form .div-form-modal form p span {
  font-weight: 700;
  border-bottom: 1px solid #252525;
}
.form .div-form-modal {
  width: 100%;
}
@media (max-width: 992px) {
  .form .bg-cinza img {
    width: 100%;
  }
}

.parceiros .row .col-custom {
  height: 100%;
}
.parceiros .row .col-custom img {
  transform: scale(1);
  transition: transform 0.25s ease-in-out;
  width: 150px;
}
@media (max-width: 576px) {
  .parceiros .row .col-custom img {
    width: 150px;
  }
}
.parceiros .row .col-custom:hover img {
  transition: transform 0.25s ease-in-out;
  transform: scale(1.1);
}

.button {
  padding: 16px 24px;
  background: #0072BE;
  color: white;
  border: NONE;
}

.button-azul {
  padding: 16px 24px;
  background: linear-gradient(86.09deg, #0072BE 0%, #2EB4FF 100%);
  color: white;
  border: 1px solid transparent;
}
.button-azul:hover {
  border: 1px solid #0072BE;
  color: #0072BE;
  background: transparent;
}
.button-azul:hover path {
  d: path("M 8 9 L 12 5 M 12 5 L 8 1 M 12 5 L 4.76995e-8 5");
  stroke: #0072BE;
}
.button-azul path {
  d: path("M 8 9 L 12 5 M 12 5 L 8 1 M 12 5 L 4.76995e-8 5");
  stroke: white;
}

.p {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #252525;
  line-height: 135%;
}
@media (max-width: 1600px) {
  .p {
    font-size: 16px;
  }
}

.p-light {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: white;
}
@media (max-width: 1600px) {
  .p-light {
    font-size: 16px;
  }
}

.h2-light {
  color: white;
  font-weight: 700;
  font-size: 40px;
  line-height: 95%;
}
@media (max-width: 1600px) {
  .h2-light {
    font-size: 38px;
  }
}
@media (max-width: 992px) {
  .h2-light {
    font-size: 45px;
  }
}

.h2-blue {
  font-weight: 700;
  font-size: 90px;
  background: linear-gradient(90deg, #0072BE 0%, #2EB4FF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  --text-fill-color: transparent;
}
@media (max-width: 1600px) {
  .h2-blue {
    font-size: 80px;
  }
}
@media (max-width: 1300px) {
  .h2-blue {
    font-size: 56px;
  }
}

.h6 {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #252525;
}
@media (max-width: 1600px) {
  .h6 {
    font-size: 18px;
  }
}
@media (max-width: 1400px) {
  .h6 {
    font-size: 16px;
  }
}

.h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 135%;
}

header .button {
  padding: 16px 24px;
  background: #0072BE;
  color: white;
  border: NONE;
}
header .button::before {
  content: "Fale com um especialista";
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: white;
}
@media (max-width: 1600px) {
  header .button::before {
    font-size: 16px;
  }
}
@media (max-width: 1200px) {
  header .button::before {
    content: "Especialistas";
  }
}
header .p {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: white;
}
@media (max-width: 1600px) {
  header .p {
    font-size: 16px;
  }
}
/*# sourceMappingURL=main.css.map */
