@charset "UTF-8";
.editor-texto p,
.editor-texto span,
.editor-texto ul,
.editor-texto ol,
.editor-texto li,
.editor-texto a {
  color: #212529;
  font-weight: 400;
  line-height: 1.25;
}
.editor-texto h1,
.editor-texto h2,
.editor-texto h3,
.editor-texto h4,
.editor-texto h5,
.editor-texto h6 {
  margin-top: 1.5em;
  margin-bottom: 1em;
  color: #6c757d;
}
.editor-texto li + li {
  margin-top: 0.1em;
}
.editor-texto a {
  font-weight: 500;
}
@media (hover: hover) {
  .editor-texto a:hover:hover {
    text-decoration: underline;
  }
}
.editor-texto b {
  font-weight: 600;
}
.editor-texto ul {
  list-style: none;
  padding-left: 0.5em;
}
.editor-texto ul li::before {
  content: "•";
  font-weight: 400;
  color: #6c757d;
  font-size: 0.6em;
  margin-right: 0.75em;
}
.editor-texto ol {
  list-style: decimal;
  list-style-position: inside;
  padding-left: 0.5em;
}
.editor-texto ol li::marker {
  color: #6c757d;
}
.editor-texto *:first-child {
  margin-top: 0;
}
.editor-texto *:last-child {
  margin-bottom: 0;
}
.editor-texto blockquote {
  padding: 1em;
  margin-left: -1em;
  border-left: 2px solid #6c757d;
}
.editor-texto blockquote,
.editor-texto blockquote * {
  color: #6c757d;
}
.editor-texto-light p,
.editor-texto-light span,
.editor-texto-light ul,
.editor-texto-light ol,
.editor-texto-light li,
.editor-texto-light a {
  color: #f8f9fa;
}
.editor-texto-light h1,
.editor-texto-light h2,
.editor-texto-light h3,
.editor-texto-light h4,
.editor-texto-light h5,
.editor-texto-light h6 {
  color: #0d6efd;
}
.editor-texto-light ul li::before {
  color: #0d6efd;
}
.editor-texto-light ol li::marker {
  color: #0d6efd;
}
.editor-texto-light blockquote {
  border-left: 2px solid #0d6efd;
}
.editor-texto-light blockquote,
.editor-texto-light blockquote * {
  color: #6c757d;
}

@media (hover: hover) {
  .produto-card:hover {
    background-color: #0d6efd;
  }
}
.produto-card-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.produto-card-description {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media (hover: hover) {
  .blog-card:hover {
    background-color: #0d6efd;
  }
}
.blog-card-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.blog-card-description {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

html {
  font-family: "inter";
  font-style: normal;
}

header {
  background-color: #F0F0F0;
  position: relative;
  width: 100%;
}
header .bg-img {
  padding: 20px 0px;
}
@media (max-width: 992px) {
  header .bg-img {
    padding: 25px 0px;
  }
}
header .menu {
  list-style: none;
}
@media (min-width: 1600px) and (max-width: 2080px) {
  header .menu {
    padding-left: 140px;
  }
}
@media (min-width: 1200px) and (max-width: 1600px) {
  header .menu {
    padding-left: 80px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  header .menu {
    padding-left: 50px;
  }
}
@media (max-width: 992px) {
  header .menu {
    display: none;
  }
}
header .menu .drop {
  margin-top: 1px;
}
header .menu .contato-li {
  z-index: 999;
}
header .menu li {
  padding: 0px 25px;
}
@media (min-width: 1200px) and (max-width: 1400px) {
  header .menu li {
    padding: 0px 15px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  header .menu li {
    padding: 0px 15px;
  }
}
header .menu li a {
  color: #253E4F;
  font-weight: 400;
  font-size: 20px;
  /*@include media-breakpoint-ul(992px) {
      &::before {
          content: "";
          width: 100%;
          height: 0;
          background-color: red;
          position: absolute;
          bottom: -0.5rem;
          left: 0;
          //transition: ;
          opacity: 0;
          transform: translateY(10px);
      }
  }

  @include media-hover {
      &::before {
          height: 1px;
          opacity: 1;
          transform: translateY(0);
          margin-top: 30px;
          display: flex;
          margin-top: 50px;
      }
  }*/
  /*& .active {
      &::after {
          content: "kkkkkkk";
          color: #F0F0F0;
          border-bottom: 5px solid #FF6A00;
          width: 4%;
          position: absolute;
          bottom: 0;
          display: flex;
          //left: 0;
      }
  }*/
  line-height: 22px;
  white-space: nowrap;
}
@media (max-width: 1600px) {
  header .menu li a {
    font-size: 16px;
  }
}
@media (hover: hover) {
  header .menu li .home:hover::after {
    content: "home";
    color: #F0F0F0;
    border-bottom: 5px solid #FF6A00;
    position: absolute;
    bottom: 0;
    display: flex;
  }
}
@media (hover: hover) {
  header .menu li .sobre-nos:hover::after {
    content: "sobre-nos";
    color: #F0F0F0;
    border-bottom: 5px solid #FF6A00;
    position: absolute;
    bottom: 0;
    display: flex;
  }
}
@media (hover: hover) {
  header .menu li .produto:hover::after {
    content: "produtos";
    color: #F0F0F0;
    border-bottom: 5px solid #FF6A00;
    position: absolute;
    bottom: 0;
    display: flex;
  }
}
header .menu li .contato {
  z-index: 999;
}
@media (hover: hover) {
  header .menu li .contato:hover::after {
    content: "contato";
    color: #F0F0F0;
    border-bottom: 5px solid #FF6A00;
    position: absolute;
    bottom: 0;
    display: flex;
  }
}
header .menu li .seta {
  width: 20px;
}
@media (min-width: 1600px) and (max-width: 2980px) {
  header .div-input {
    padding-left: 200px;
  }
}
@media (min-width: 1400px) and (max-width: 1600px) {
  header .div-input {
    padding-left: 160px;
  }
}
@media (min-width: 1200px) and (max-width: 1400px) {
  header .div-input {
    padding-left: 120px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  header .div-input {
    padding-left: 120px;
  }
}
@media (max-width: 992px) {
  header .div-input {
    justify-content: flex-end;
    margin-top: 0px !important;
  }
}
header .div-input input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #86A3B7;
  color: black;
  display: block;
  width: 90%;
  transition: border-bottom 0.25s ease-out;
  border-radius: 0px;
  font-weight: 400;
  font-size: 20px;
  padding: 10px 0px !important;
}
@media (max-width: 1600px) {
  header .div-input input {
    font-size: 16px;
  }
}
@media (max-width: 992px) {
  header .div-input input {
    display: none;
  }
}
header .div-input input::placeholder {
  color: #253E4F;
}
header .div-input input:focus {
  border: none;
  border-bottom: 3px solid #86A3B7;
  background-color: transparent;
  box-shadow: none;
  border-radius: 5px;
  color: black;
}
@media (max-width: 992px) {
  header .div-input .button-offcanvas {
    display: flex;
  }
}
@media (min-width: 992px) {
  header .div-input .button-pesquisa {
    display: flex;
  }
}
@media (max-width: 1600px) {
  header .div-input .button-pesquisa {
    width: 42px;
  }
}
header .div-input .button-menu {
  padding: 8px 12px 12px 12px;
  margin-top: 8px;
  background: linear-gradient(90deg, #FF3C01 0%, #FF6A00 100%);
  border-radius: 5px;
}
@media (max-width: 576px) {
  header .div-input .button-menu {
    padding: 4px 8px 10px 8px;
  }
}
header .div-input img {
  padding: 12px;
  background: linear-gradient(135deg, #FF6A00 0%, #FF3C01 100%);
  margin-top: 3px;
  margin-left: -3px;
  cursor: pointer;
}
@media (max-width: 992px) {
  header .div-input img {
    width: 48px;
    margin-bottom: 0px !important;
    border-radius: 5px;
  }
}
@media (max-width: 576px) {
  header .div-input img {
    width: 42px;
    margin-bottom: 0px !important;
    border-radius: 5px;
  }
}
@media (max-width: 992px) {
  header .div-input .div-teste {
    display: flex;
  }
}

.breadcrumb-wrapper {
  padding: 90px 0px;
  border-bottom: 1px solid #f0f0f0;
  background-image: url(../images/backgrounds/x-header.svg);
  background-repeat: no-repeat;
  background-position-x: 50%;
}
@media (max-width: 992px) {
  .breadcrumb-wrapper {
    padding: 50px 0px;
  }
}
.breadcrumb-wrapper div h2 {
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
  color: #253E4F;
}
@media (max-width: 1600px) {
  .breadcrumb-wrapper div h2 {
    font-size: 50px;
  }
}
@media (max-width: 992px) {
  .breadcrumb-wrapper div h2 {
    font-size: 40px;
  }
}
@media (max-width: 576px) {
  .breadcrumb-wrapper div h2 {
    font-size: 30px;
  }
}
@media (max-width: 576px) {
  .breadcrumb-wrapper .links {
    padding-top: 30px;
  }
}
.breadcrumb-wrapper .links a {
  color: #253E4F;
  font-size: 18px;
}
@media (max-width: 1400px) {
  .breadcrumb-wrapper .links a {
    font-size: 16px;
  }
}
@media (max-width: 576px) {
  .breadcrumb-wrapper .links a {
    font-size: 14px;
  }
}
.breadcrumb-wrapper .links a:hover {
  color: #FF3C01;
}

.footer {
  background: #F0F0F0;
  border-top: 1px solid #86A3B7;
}
.footer .footer-div {
  height: 100%;
}
@media (min-width: 992px) {
  .footer .footer-div .logo-footer {
    border-right: 1px solid #86A3B7;
  }
}
.footer .footer-div .logo-footer img {
  width: 80%;
}
.footer .footer-div .row ul li {
  list-style: none;
}
.footer .footer-div .row ul li a {
  text-decoration: none !important;
  color: #253E4F;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
@media (max-width: 1600px) {
  .footer .footer-div .row ul li a {
    font-size: 16px;
  }
}
.footer .footer-div .row ul li a:hover {
  color: #FF3C01;
}
.footer .footer-div .links-site-div {
  padding: 80px 0px;
}
@media (min-width: 1400px) {
  .footer .footer-div .links-site-div {
    padding-left: 100px;
  }
}
.footer .footer-div .links-site-div .links-site li {
  margin: 30px 0px;
}
.footer .footer-div .redes img {
  width: 70%;
}
.footer .footer-div .redes img:hover {
  width: 80%;
  transition: width 0.2s ease-in-out;
}
.footer .footer-div .infos img {
  margin-right: 10px;
  margin-bottom: 5px;
}
.footer .footer-div .infos li {
  margin: 60px 0px;
}
.footer .footer-div .redes li {
  margin: 30px 0px;
}
.footer .linha {
  border-top: 1px solid #86A3B7;
}
.footer .linha .copyright {
  color: #86A3B7;
}
.footer .linha .copyright div {
  padding: 20px 0px;
  font-size: 20px;
  font-weight: 100 !important;
}
@media (max-width: 1600px) {
  .footer .linha .copyright div {
    font-size: 15px !important;
  }
}
.footer .linha .copyright div a {
  text-decoration: none;
  color: #86A3B7;
  border-bottom: 1px solid #86A3B7;
}
.footer .linha .copyright .logo-ellite a {
  border: none;
}
.footer .linha .copyright .logo-ellite a img:hover {
  width: 110px;
  transition: width 0.2s ease-in-out;
}

@media (max-width: 575.98px) {
  .footer {
    background-size: cover;
  }
  .footer .logo-footer {
    justify-content: center !important;
    padding-top: 40px;
  }
  .footer .links-site-div {
    padding: 0px !important;
  }
  .footer .links-site-div .links-site {
    text-align: center;
    justify-content: center !important;
  }
  .footer .links-site-div .links-site li a {
    font-size: 18px !important;
  }
  .footer .infos {
    text-align: center;
    justify-content: center !important;
    margin-top: -20px;
  }
  .footer .infos li {
    margin: 30px 0px !important;
  }
  .footer .infos li a {
    font-size: 18px !important;
  }
  .footer .redes {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 20px !important;
  }
  .footer .redes li {
    margin: 0px 20px !important;
  }
  .copyright {
    padding-bottom: 20px;
  }
  .copyright div {
    justify-content: center !important;
    display: flex;
    text-align: center;
  }
  .copyright div img {
    width: 20%;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .footer ul li {
    text-align: center;
  }
  .footer .logo-footer {
    justify-content: center !important;
    padding-top: 40px;
  }
  .footer .redes {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .footer .redes li {
    margin: 0px 40px !important;
  }
  .footer .redes li a {
    font-size: 18px !important;
  }
  .footer .infos li a {
    font-size: 18px !important;
  }
  .footer .links-site-div .links-site li a {
    font-size: 18px !important;
  }
  .footer .copyright div {
    justify-content: center !important;
    display: flex;
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .copyright .politica,
.copyright .logo-ellite {
    justify-content: center !important;
    display: flex;
  }
  footer .logo-footer img {
    width: 150% !important;
  }
  footer .redes {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  footer .redes li {
    margin: 0px 40px !important;
  }
}
#home {
  overflow-x: hidden;
  background: #F0F0F0;
}

.banner {
  background-image: url(../images/backgrounds/x.svg);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position-x: 130%;
  position: relative;
  background-color: white;
}
@media (max-width: 1550px) {
  .banner {
    background-size: 92%;
    background-position-x: 350%;
  }
}
@media (max-width: 992px) {
  .banner {
    background-size: 150%;
    background-position-x: 50%;
  }
}
@media (max-width: 767px) {
  .banner {
    background-size: 240%;
    background-position-x: 50%;
  }
}
@media (max-width: 576px) {
  .banner {
    background-size: 400%;
    background-position-y: 30%;
  }
}
.banner .mySwiper-banner {
  width: 100%;
  height: 100%;
}
.banner .mySwiper-banner .swiper-button-next,
.banner .mySwiper-banner .swiper-button-prev {
  color: white;
  padding: 12px !important;
  --swiper-navigation-size: 20px;
  /*padding-left: 20px;
  padding-right: 20px;
  padding-top: -3px;
  padding-bottom: -3px;*/
  border-radius: 50%;
  background-color: #FF3C01;
}
.banner .mySwiper-banner .swiper-button-next {
  right: 100px;
}
@media (max-width: 1200px) {
  .banner .mySwiper-banner .swiper-button-next {
    right: 40px;
  }
}
.banner .mySwiper-banner .swiper-button-prev {
  left: 100px;
}
@media (max-width: 1200px) {
  .banner .mySwiper-banner .swiper-button-prev {
    left: 40px;
  }
}
.banner .mySwiper-banner .swiper-button-next:after,
.banner .mySwiper-banner .swiper-button-prev:after {
  font-size: 8px !important;
  font-weight: 900;
}
.banner .mySwiper-banner .swiper-slide h2 {
  font-weight: 700;
  font-size: 64px;
  color: #253E4F;
}
@media (max-width: 1600px) {
  .banner .mySwiper-banner .swiper-slide h2 {
    font-size: 50px;
  }
}
.banner .mySwiper-banner .swiper-slide p {
  font-weight: 400;
  font-size: 20px;
}
@media (max-width: 1600px) {
  .banner .mySwiper-banner .swiper-slide p {
    font-size: 16px;
  }
}
.banner .mySwiper-banner .swiper-slide .banner-conteudo .btn-custom2 {
  background: linear-gradient(90deg, #FF3C01 0%, #FF6A00 100%);
  border: none;
  font-size: 20px;
  padding: 15px 30px;
  border-radius: 46px;
}
@media (max-width: 1600px) {
  .banner .mySwiper-banner .swiper-slide .banner-conteudo .btn-custom2 {
    font-size: 16px;
  }
}
.banner .mySwiper-banner .swiper-slide .banner-conteudo .btn-custom2 span {
  margin-left: 0px;
  transition: margin-left 0.3s ease-in-out;
}
.banner .mySwiper-banner .swiper-slide .banner-conteudo .btn-custom2 svg {
  transition: margin-left 0.3s ease-in-out;
  margin-left: 0px;
}
.banner .mySwiper-banner .swiper-slide .banner-conteudo .btn-custom2:hover span {
  margin-left: -5px;
  transition: margin-left 0.3s ease-in-out;
}
.banner .mySwiper-banner .swiper-slide .banner-conteudo .btn-custom2:hover svg {
  transition: margin-left 0.3s ease-in-out;
  margin-left: 20px;
}
.banner .mySwiper-banner .swiper-slide svg {
  background-color: white;
  border-radius: 50%;
  padding: 5px 7px;
}
.banner .mySwiper-banner .swiper-slide .imagem img {
  width: 50%;
}
.banner .swiper-slide {
  padding: 100px 0px;
  text-align: center;
  font-size: 18px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-buttons .mySwiper-buttons {
  padding: 0px 30px;
  padding-bottom: 30px;
}
.banner-buttons .mySwiper-buttons .swiper-slide .button-linhas button {
  border-radius: none !important;
  background: linear-gradient(90deg, #FF3C01 0%, #FF6A00 100%);
  border: none;
  font-size: 20px;
  padding: 50px 30px;
  color: white;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
}
@media (max-width: 1600px) {
  .banner-buttons .mySwiper-buttons .swiper-slide .button-linhas button {
    font-size: 24px;
  }
}
@media (max-width: 767px) {
  .banner-buttons .mySwiper-buttons .swiper-slide .button-linhas button {
    font-size: 22px;
    padding: 25px 15px;
  }
}
@media (max-width: 576px) {
  .banner-buttons .mySwiper-buttons .swiper-slide .button-linhas button {
    font-size: 15px;
    padding: 15px 10px;
    display: inline-block;
  }
}
@media (max-width: 767px) {
  .banner-buttons .mySwiper-buttons .swiper-slide .button-linhas button img {
    width: 20px !important;
  }
}
@media (max-width: 380px) {
  .banner-buttons .mySwiper-buttons .swiper-slide .button-linhas button img {
    margin-right: 0px;
  }
}
.banner-buttons .mySwiper-buttons .swiper-slide .button-linhas .b1 {
  background: #253E4F;
}
.banner-buttons .mySwiper-buttons .swiper-slide .button-linhas .b2 {
  background: #FF3C01;
}
.banner-buttons .mySwiper-buttons .swiper-slide .button-linhas .b3 {
  background: #FF6A00;
}
.banner-buttons .mySwiper-buttons .swiper-slide .button-linhas span {
  transition: margin-left 0.3s ease-in-out;
}
.banner-buttons .mySwiper-buttons .swiper-slide .button-linhas img {
  transition: margin-right 0.3s ease-in-out;
}
.banner-buttons .mySwiper-buttons .swiper-slide .button-linhas:hover span {
  margin-left: 20px;
}
.banner-buttons .mySwiper-buttons .swiper-slide .button-linhas:hover img {
  margin-right: 20px;
}
.banner-buttons .mySwiper-buttons .swiper-pagination {
  --swiper-theme-color: #FF3C01;
}

.areas {
  margin: 0px 18px;
  background: linear-gradient(90deg, #162632 0%, #253E4F 100%);
  transition: background-size 0.5s ease-in-out;
}
.areas .row {
  /* background-image: url(../../../../../webroot/site/src/images/backgrounds/cadeira.svg);
          background-repeat: no-repeat;
          background-position-x: 0px !important;
  */
  overflow: hidden;
  margin: 0px;
  /* @media (min-width: 992px)and(max-width: 2000px) {
      background-position-y: 20px !important;
  }

  @media (min-width: 1100px)and(max-width: 1200px) {
      background-position-x: -220%;
  }

  @media (min-width: 992px)and(max-width: 1100px) {
      background-position-x: -280%;
  }

  @media (max-width: 992px) {
      background-size: 70%;
      background-position-y: 120%;
  }

  @media (max-width: 767px) {
      background-size: 80%;
      background-position-y: 100%;
  }

  @media (max-width: 450px) {
      background-size: 100%;
      background-position-y: 100%;
  }*/
  position: relative;
}
.areas .row .img img {
  width: 50%;
  transition: transform 0.3s ease-in-out;
  transform: scale(1);
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 0;
}
@media (max-width: 1900px) {
  .areas .row .img img {
    width: 54%;
  }
}
@media (max-width: 1600px) {
  .areas .row .img img {
    width: 60%;
  }
}
@media (max-width: 767px) {
  .areas .row .img img {
    width: 80%;
  }
}
@media (max-width: 576px) {
  .areas .row .img img {
    width: 100%;
  }
}
.areas .row:hover .img img {
  transform: scale(1.03);
  transition: transform 0.3s ease-in-out;
}
.areas .row .conteudo {
  padding: 90px 0px;
  color: white;
  z-index: 1;
}
@media (max-width: 992px) {
  .areas .row .conteudo div {
    justify-content: center !important;
  }
}
.areas .row .conteudo h2 {
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
}
@media (max-width: 1600px) {
  .areas .row .conteudo h2 {
    font-size: 46px;
  }
}
@media (max-width: 992px) {
  .areas .row .conteudo h2 {
    font-size: 40px;
  }
}
.areas .row .conteudo p {
  font-weight: 100;
  font-size: 22px;
  line-height: 135%;
  padding: 20px 0px;
  width: 60%;
}
@media (max-width: 1530px) {
  .areas .row .conteudo p {
    width: 80%;
    font-size: 16px;
  }
}
@media (max-width: 1600px) {
  .areas .row .conteudo p {
    font-size: 16px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .areas .row .conteudo p {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .areas .row .conteudo p {
    text-align: center;
    font-size: 18px;
  }
}
.areas .row .conteudo button {
  background: linear-gradient(90deg, #FF3C01 0%, #FF6A00 100%);
  border: none;
  font-size: 20px;
  padding: 15px 30px;
  border-radius: 46px;
}
@media (max-width: 1600px) {
  .areas .row .conteudo button {
    font-size: 16px;
  }
}
.areas .row .conteudo button svg {
  background-color: white;
  border-radius: 50%;
  padding: 5px 7px;
}
.areas .row .conteudo button span {
  margin-left: 0px;
  transition: margin-left 0.3s ease-in-out;
}
.areas .row .conteudo button svg {
  transition: margin-left 0.3s ease-in-out;
  margin-left: 0px;
}
.areas .row .conteudo button:hover span {
  margin-left: -5px;
  transition: margin-left 0.3s ease-in-out;
}
.areas .row .conteudo button:hover svg {
  transition: margin-left 0.3s ease-in-out;
  margin-left: 20px;
}
.areas:hover .row {
  transition: background-position-y 0.2s ease-in-out;
  background-position-y: 100% !important;
}
.areas2 {
  z-index: 1;
  margin: 20px 20px;
  background: linear-gradient(90deg, #FF6A00 0%, #FF3C01 100%);
  transition: background-size 0.5s ease-in-out;
  position: relative;
}
.areas2 .em-breve {
  z-index: 99999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(134, 163, 183, 0.9);
}
.areas2 .em-breve::after {
  content: "Em breve!";
  position: absolute;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
  text-align: center;
  color: #FFFFFF;
}
@media (max-width: 450px) {
  .areas2 .em-breve::after {
    font-size: 40px;
  }
}
.areas2 .row {
  /* background-image: url(../../../../../webroot/site/src/images/backgrounds/componentes.svg);
  background-repeat: no-repeat;
  background-position-x: 80%;*/
  overflow: hidden;
  margin: 0px;
  /* @media (max-width: 992px) {
      background-position-x: 50%;
      //background-size: 200%;
  }*/
  position: relative;
}
.areas2 .row .img img {
  width: 50%;
  transition: transform 0.3s ease-in-out;
  transform: scale(1);
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 0;
  size: cover;
  /*@media (max-width: 450px) {
      width: 100% !important;
      //bottom: 0px !important;
  }*/
}
@media (max-width: 1900px) {
  .areas2 .row .img img {
    width: 60%;
  }
}
@media (max-width: 1600px) {
  .areas2 .row .img img {
    width: 64%;
  }
}
@media (max-width: 1400px) {
  .areas2 .row .img img {
    width: 70%;
    bottom: 0px !important;
  }
}
.areas2 .row:hover .img img {
  transform: scale(1.03);
  transition: transform 0.3s ease-in-out;
}
.areas2 .row .conteudo {
  padding: 90px 0px;
  color: white;
  z-index: 1;
}
@media (max-width: 992px) {
  .areas2 .row .conteudo div {
    justify-content: center !important;
  }
}
.areas2 .row .conteudo h2 {
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
}
@media (max-width: 992px) {
  .areas2 .row .conteudo h2 {
    font-size: 40px;
  }
}
@media (max-width: 1600px) {
  .areas2 .row .conteudo h2 {
    font-size: 46px;
  }
}
.areas2 .row .conteudo p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100;
  font-size: 22px;
  line-height: 135%;
  padding: 20px 0px;
  width: 60%;
}
@media (max-width: 1530px) {
  .areas2 .row .conteudo p {
    width: 80%;
  }
}
@media (max-width: 1600px) {
  .areas2 .row .conteudo p {
    font-size: 16px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .areas2 .row .conteudo p {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .areas2 .row .conteudo p {
    text-align: center;
    font-size: 18px;
  }
}
.areas2 .row .conteudo button {
  background: #253E4F;
  border: none;
  font-size: 20px;
  padding: 15px 30px;
  border-radius: 46px;
}
@media (max-width: 1600px) {
  .areas2 .row .conteudo button {
    font-size: 16px;
  }
}
.areas2 .row .conteudo button svg {
  background-color: white;
  border-radius: 50%;
  padding: 5px 7px;
}
.areas2 .row .conteudo button span {
  margin-left: 0px;
  transition: margin-left 0.3s ease-in-out;
}
.areas2 .row .conteudo button svg {
  transition: margin-left 0.3s ease-in-out;
  margin-left: 0px;
}
.areas2 .row .conteudo button:hover span {
  margin-left: -5px;
  transition: margin-left 0.3s ease-in-out;
}
.areas2 .row .conteudo button:hover svg {
  transition: margin-left 0.3s ease-in-out;
  margin-left: 20px;
}
.areas2:hover .row {
  transition: background-position-y 0.2s ease-in-out;
  background-position-y: 100%;
}
.areas4 {
  margin: 20px 20px;
  background: white;
  transition: background-size 0.5s ease-in-out;
}
.areas4 .row {
  /*background-image: url(../../../../../webroot/site/src/images/backgrounds/cadeiras.svg);
  background-repeat: no-repeat;
  background-position-x: 100%;
  */
  overflow: hidden;
  margin: 0px;
  /*@media (max-width: 992px) {
      background-position-x: 50%;
      //background-size: 200%;
  }*/
  position: relative;
}
.areas4 .row .img {
  margin-left: -11px;
}
.areas4 .row .img img {
  width: 50%;
  transition: transform 0.3s ease-in-out;
  transform: scale(1);
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 0;
}
@media (max-width: 1900px) {
  .areas4 .row .img img {
    width: 54%;
  }
}
@media (max-width: 1600px) {
  .areas4 .row .img img {
    width: 60%;
  }
}
@media (max-width: 767px) {
  .areas4 .row .img img {
    width: 80%;
  }
}
@media (max-width: 576px) {
  .areas4 .row .img img {
    width: 100%;
  }
}
.areas4 .row:hover .img img {
  transform: scale(1.03);
  transition: transform 0.3s ease-in-out;
}
.areas4 .row .conteudo {
  z-index: 1;
  padding: 90px 0px;
  color: #253E4F;
}
@media (max-width: 992px) {
  .areas4 .row .conteudo div {
    justify-content: center !important;
  }
}
.areas4 .row .conteudo h2 {
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
}
@media (max-width: 1600px) {
  .areas4 .row .conteudo h2 {
    font-size: 46px;
  }
}
@media (max-width: 992px) {
  .areas4 .row .conteudo h2 {
    font-size: 40px;
  }
}
.areas4 .row .conteudo p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100;
  font-size: 22px;
  line-height: 135%;
  padding: 20px 0px;
  width: 60%;
}
@media (max-width: 1530px) {
  .areas4 .row .conteudo p {
    width: 80%;
  }
}
@media (max-width: 1600px) {
  .areas4 .row .conteudo p {
    font-size: 16px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .areas4 .row .conteudo p {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .areas4 .row .conteudo p {
    text-align: center;
    font-size: 18px;
  }
}
.areas4 .row .conteudo button {
  background: linear-gradient(90deg, #FF3C01 0%, #FF6A00 100%);
  border: none;
  font-size: 20px;
  padding: 15px 30px;
  border-radius: 46px;
}
@media (max-width: 1600px) {
  .areas4 .row .conteudo button {
    font-size: 16px;
  }
}
.areas4 .row .conteudo button svg {
  background-color: white;
  border-radius: 50%;
  padding: 5px 7px;
}
.areas4 .row .conteudo button span {
  margin-left: 0px;
  transition: margin-left 0.3s ease-in-out;
}
.areas4 .row .conteudo button svg {
  transition: margin-left 0.3s ease-in-out;
  margin-left: 0px;
}
.areas4 .row .conteudo button:hover span {
  margin-left: -5px;
  transition: margin-left 0.3s ease-in-out;
}
.areas4 .row .conteudo button:hover svg {
  transition: margin-left 0.3s ease-in-out;
  margin-left: 20px;
}
.areas4:hover .row {
  transition: background-position-y 0.2s ease-in-out;
  background-position-y: 100%;
}
.produtos {
  background: #F0F0F0;
  padding: 20px 30px;
  position: relative;
}
.produtos .mySwiper-produtos {
  position: initial;
}
.produtos .mySwiper-produtos .swiper-slide {
  background: white;
  overflow: hidden;
}
.produtos .mySwiper-produtos .swiper-slide .conteudo {
  margin-top: 50px;
}
.produtos .mySwiper-produtos .swiper-slide .conteudo h2 {
  font-weight: 700;
  font-size: 28px;
  line-height: 135%;
  color: #253E4F;
}
@media (max-width: 1600px) {
  .produtos .mySwiper-produtos .swiper-slide .conteudo h2 {
    font-size: 24px;
  }
}
.produtos .mySwiper-produtos .swiper-slide .conteudo .position {
  z-index: 10;
}
.produtos .mySwiper-produtos .swiper-slide .conteudo a {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FF3C01;
}
@media (max-width: 1600px) {
  .produtos .mySwiper-produtos .swiper-slide .conteudo a {
    font-size: 16px;
  }
}
.produtos .mySwiper-produtos .swiper-slide .conteudo a svg {
  width: 10px;
  font-weight: 100;
}
.produtos .mySwiper-produtos .swiper-slide .conteudo img {
  width: 100%;
  padding-bottom: 50px;
}
.produtos .mySwiper-produtos .swiper-slide img {
  transform: scale(1);
  /* aumenta a imagem em 10% */
  transition: transform 0.3s ease-in-out;
}
.produtos .mySwiper-produtos .swiper-slide a {
  z-index: 1;
  margin-right: 0px;
  transition: margin-right 0.3s ease-in-out;
}
.produtos .mySwiper-produtos .swiper-slide a svg {
  transition: margin-left 0.3s ease-in-out;
  margin-left: 0px;
}
.produtos .mySwiper-produtos .swiper-slide:hover {
  overflow: hidden;
}
.produtos .mySwiper-produtos .swiper-slide:hover img {
  transform: scale(1.2);
  /* aumenta a imagem em 10% */
  transition: transform 0.3s ease-in-out;
}
.produtos .mySwiper-produtos .swiper-slide:hover h2 {
  z-index: 2;
}
.produtos .mySwiper-produtos .swiper-slide:hover a {
  z-index: 1;
  margin-right: 5px;
  transition: margin-right 0.3s ease-in-out;
}
.produtos .mySwiper-produtos .swiper-slide:hover a svg {
  transition: margin-left 0.3s ease-in-out;
  margin-left: 15px;
}
.produtos .mySwiper-produtos .swiper-pagination {
  --swiper-theme-color: #FF3C01;
  bottom: -10px !important;
}

#empresa .swiper {
  width: 100%;
}
#empresa .swiper .swiper-wrapper {
  position: absolute;
}
#empresa .swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
#empresa .swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}
#empresa .swiper .swiper-button-next,
#empresa .swiper .swiper-button-prev {
  color: white;
  padding: 12px !important;
  --swiper-navigation-size: 20px;
  /*padding-left: 20px;
  padding-right: 20px;
  padding-top: -3px;
  padding-bottom: -3px;*/
  border-radius: 50%;
  background-color: #FF3C01;
}
#empresa .swiper .swiper-button-next:after,
#empresa .swiper .swiper-button-prev:after {
  font-size: 8px !important;
  font-weight: 900;
}
#empresa .swiper .swiper-pagination-bullet-active {
  background: #c44438 !important;
}
#empresa .swiper .swiper-pagination-bullet {
  background: #3d2c2c;
}
@media (max-width: 992px) {
  #empresa .conteudo {
    margin-bottom: 80px;
  }
}
#empresa .conteudo .titulo h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
  color: #c44438;
  text-align: center;
}
#empresa .conteudo .p p {
  font-weight: 100;
  font-size: 20px;
  line-height: 135%;
}
@media (max-width: 1600px) {
  #empresa .conteudo .p p {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  #empresa .conteudo .p p {
    text-align: center;
    font-size: 14px;
  }
}
@media (max-width: 992px) {
  #empresa .conteudo .p p {
    text-align: center;
  }
}
@media (max-width: 992px) {
  #empresa .valores-empresa {
    margin-top: -100px;
  }
}
#empresa .valores-empresa .conteudo .estilo {
  background: rgba(172, 169, 169, 0.2);
  margin: 0px 10px;
  border-radius: 10px;
  padding: 30px 20px;
  transition: margin-top 0.2s ease-in-out 0s;
}
#empresa .valores-empresa .conteudo .estilo img {
  width: 50px;
  height: 50px;
}
@media (max-width: 992px) {
  #empresa .valores-empresa .conteudo {
    margin: 20px 0px;
  }
}
#empresa .valores-empresa .conteudo .titulo h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 77px;
  color: #253E4F;
  text-align: center;
}
@media (max-width: 576px) {
  #empresa .valores-empresa .conteudo .titulo h2 {
    font-size: 32px;
  }
}
#empresa .valores-empresa .conteudo .p p {
  font-weight: 100;
  font-size: 18px;
  line-height: 135%;
  text-align: center;
}
@media (max-width: 992px) {
  #empresa .valores-empresa .conteudo .p p {
    text-align: center;
  }
}
@media (max-width: 1600px) {
  #empresa .valores-empresa .conteudo .p p {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  #empresa .valores-empresa .conteudo .p p {
    text-align: center;
    font-size: 14px;
  }
}
#empresa .valores-empresa .estilo:hover {
  background: rgba(99, 97, 97, 0.2);
  margin-top: -20px;
}
#empresa .valores-empresa .estilo:hover h2 {
  color: #FF3C01;
}

.contato .titulo h2 {
  font-weight: 700;
  font-size: 50px;
  color: #253E4F;
}
@media (max-width: 1600px) {
  .contato .titulo h2 {
    font-size: 40px;
  }
}
@media (max-width: 992px) {
  .contato .titulo h2 {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .contato .titulo h2 {
    font-size: 36px;
  }
}
.contato .titulo h2 span {
  font-weight: 900 !important;
  color: #FF3C01;
}
.contato .titulo p {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
@media (max-width: 992px) {
  .contato .titulo p {
    text-align: center;
  }
}
@media (max-width: 1600px) {
  .contato .titulo p {
    font-size: 16px;
  }
}
.contato .infos img {
  margin-right: 10px;
  margin-bottom: 5px;
  width: 20px;
}
.contato .infos img:hover {
  width: 25px;
  transition: width 0.2s ease-in-out;
}
.contato .infos li {
  margin: 25px 0px;
  list-style: none;
}
@media (max-width: 992px) {
  .contato .infos li {
    text-align: center;
  }
}
.contato .infos li a {
  text-decoration: none !important;
  color: #253E4F;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
@media (max-width: 1600px) {
  .contato .infos li a {
    font-size: 16px;
  }
}
@media (max-width: 992px) {
  .contato .infos li a {
    text-align: center;
  }
}
@media (max-width: 756px) {
  .contato .infos li a {
    font-size: 16px;
  }
}
.contato .infos li a:hover {
  color: #FF3C01;
}
.contato .form {
  background-color: #F0F0F0;
  border-radius: 4px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
  padding: 40px 40px;
}
.contato .form form p {
  font-weight: 400;
  font-size: 18px;
}
@media (max-width: 1600px) {
  .contato .form form p {
    font-size: 16px;
  }
}
@media (max-width: 992px) {
  .contato .form form p {
    text-align: center;
  }
}
.contato .form form p a {
  color: #FF3C01;
}
.contato .form form p a:hover {
  color: #FF6A00;
}
.contato .form form input {
  margin-bottom: 15px;
  color: #253E4F;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
@media (max-width: 1600px) {
  .contato .form form input {
    font-size: 16px;
  }
}
.contato .form form textarea {
  color: #253E4F;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
@media (max-width: 1600px) {
  .contato .form form textarea {
    font-size: 16px;
  }
}
.contato .form .btn-custom-contato {
  background: linear-gradient(90deg, #FF3C01 0%, #FF6A00 100%);
  border: none;
  font-size: 16px;
  padding: 15px 30px;
  border-radius: 46px;
  color: white;
}

#produto {
  background: #f0f0f0;
  overflow-x: hidden;
}

.corporativo {
  background: #F0F0F0;
  margin-top: -60px;
}
@media (min-width: 767px) and (max-width: 1980px) {
  .corporativo {
    padding-right: 40px;
  }
}
.corporativo .buttons-accordion {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.corporativo .accordion {
  margin-top: 15px;
}
@media (min-width: 0px) and (max-width: 992px) {
  .corporativo .accordion {
    padding-top: 60px;
  }
}
.corporativo .accordion .accordion-item {
  margin-top: 15px;
}
@media (min-width: 1600px) and (max-width: 2900px) {
  .corporativo .accordion .accordion-item {
    width: 70%;
    margin-left: 100px;
  }
}
@media (min-width: 1200px) and (max-width: 1600px) {
  .corporativo .accordion .accordion-item {
    width: 75%;
    margin-left: 60px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .corporativo .accordion .accordion-item {
    width: 90%;
    margin-left: 40px;
  }
}
@media (min-width: 767px) and (max-width: 992px) {
  .corporativo .accordion .accordion-item {
    width: 50% !important;
    margin: auto;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .corporativo .accordion .accordion-item {
    width: 65% !important;
    margin: auto;
  }
}
@media (min-width: 0px) and (max-width: 576px) {
  .corporativo .accordion .accordion-item {
    width: 65% !important;
    padding-left: 0px !important;
    margin: auto;
  }
}
.corporativo .accordion .accordion-item button {
  background: linear-gradient(90deg, #FF3C01 0%, #FF6A00 100%);
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: white;
  padding: 20px 50px;
  border-radius: 3px 3px 0px 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (min-width: 992px) and (max-width: 1550px) {
  .corporativo .accordion .accordion-item button {
    padding: 20px 15px;
    width: 100%;
  }
}
@media (min-width: 0px) and (max-width: 576px) {
  .corporativo .accordion .accordion-item button {
    font-weight: 600;
    font-size: 16px;
    padding: 20px 10px;
  }
}
.corporativo .accordion .accordion-item .disabled {
  pointer-events: none;
  opacity: 0.5;
  /* opcional, para diminuir a opacidade do botão e indicar visualmente que ele está desativado */
}
.corporativo .conteudo {
  margin-top: 30px;
  padding-top: 50px;
  background: white;
  width: 30%;
  margin-right: 35px;
  overflow: hidden;
  position: relative;
}
@media (min-width: 1200px) and (max-width: 1450px) {
  .corporativo .conteudo {
    margin-right: 25px;
  }
}
@media (min-width: 767px) and (max-width: 1200px) {
  .corporativo .conteudo {
    width: 45% !important;
    margin-right: 0px;
    margin-left: 32px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .corporativo .conteudo {
    width: 42% !important;
    margin: auto;
    margin-top: 20px;
  }
}
.corporativo .conteudo h2 {
  font-weight: 700;
  font-size: 28px;
  line-height: 135%;
  z-index: 9;
}
@media (min-width: 0px) and (max-width: 767px) {
  .corporativo .conteudo h2 {
    font-size: 24px;
  }
}
.corporativo .conteudo a {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FF3C01;
  z-index: 9;
}
@media (max-width: 1600px) {
  .corporativo .conteudo a {
    font-size: 16px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .corporativo .conteudo a {
    font-size: 14px;
  }
}
.corporativo .conteudo a svg {
  width: 10px;
  font-weight: 100;
}
@media (min-width: 0px) and (max-width: 767px) {
  .corporativo .conteudo a svg {
    width: 6px;
  }
}
.corporativo .conteudo img {
  width: 100%;
  padding-bottom: 50px;
  position: relative;
  z-index: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .corporativo .conteudo img {
    width: 140%;
    padding-bottom: 20px;
  }
}
.corporativo .conteudo:hover {
  overflow: hidden;
}
.corporativo .conteudo:hover img {
  transform: scale(1.2);
  /* aumenta a imagem em 10% */
  transition: transform 0.3s ease-in-out;
}
.corporativo .conteudo:hover h2 {
  z-index: 1;
}
.corporativo .conteudo:hover a {
  z-index: 3;
  margin-right: 5px;
  transition: margin-right 0.3s ease-in-out;
}
.corporativo .conteudo:hover a svg {
  transition: margin-left 0.3s ease-in-out;
  margin-left: 15px;
}

#produto {
  background: #f0f0f0;
  overflow: hidden;
}

.produto-detalhe .produto {
  background-color: white;
  margin-top: 40px;
  border-radius: 2px;
}
.produto-detalhe .mySwiper-produto-detalhe {
  width: 100%;
  height: 100%;
}
.produto-detalhe .mySwiper-produto-detalhe .swiper-button-next,
.produto-detalhe .mySwiper-produto-detalhe .swiper-button-prev {
  color: white;
  padding: 12px !important;
  --swiper-navigation-size: 20px;
  /*padding-left: 20px;
  padding-right: 20px;
  padding-top: -3px;
  padding-bottom: -3px;*/
  border-radius: 50%;
  background-color: #FF3C01;
}
.produto-detalhe .mySwiper-produto-detalhe .swiper-button-next:after,
.produto-detalhe .mySwiper-produto-detalhe .swiper-button-prev:after {
  font-size: 8px !important;
  font-weight: 900;
}
.produto-detalhe .mySwiper-produto-detalhe .swiper-slide .imagem img {
  width: 100%;
}
.produto-detalhe .conteudo {
  color: #253E4F;
}
.produto-detalhe .conteudo h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
}
@media (max-width: 576px) {
  .produto-detalhe .conteudo h2 {
    text-align: center;
  }
}
.produto-detalhe .conteudo h6 {
  font-weight: 400;
  font-size: 20px;
  line-height: 135%;
}
.produto-detalhe .conteudo p {
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
}
.produto-detalhe .conteudo span {
  font-weight: 900;
}
.produto-detalhe .conteudo .tubos .tubos-desenho {
  border-right: 1px solid #86A3B7;
}
.produto-detalhe .conteudo .tubos svg,
.produto-detalhe .conteudo .tubos h6 {
  margin-bottom: 10px;
}
.produto-detalhe .conteudo .cores:hover svg {
  margin-left: -3px;
}
.produto-detalhe .conteudo .cores svg {
  margin-left: -8px;
  margin-bottom: 12px;
  transition: margin-left 0.3s ease-in-out;
}
.produto-detalhe .conteudo button {
  background: linear-gradient(90deg, #FF3C01 0%, #FF6A00 100%);
  border: none;
  font-size: 20px;
  padding: 15px 30px;
  border-radius: 46px;
  color: white;
}
.produto-detalhe .conteudo button svg {
  background-color: white;
  border-radius: 50%;
  padding: 8px;
  margin-left: 5px;
}
.produto-detalhe .conteudo-opcoes {
  color: #253E4F;
}
.produto-detalhe .conteudo-opcoes hr {
  width: 110%;
}
@media (min-width: 992px) {
  .produto-detalhe .conteudo-opcoes .cont {
    padding-top: 40px;
  }
}
@media (max-width: 992px) {
  .produto-detalhe .conteudo-opcoes .cont {
    padding-top: 20px;
  }
}
.produto-detalhe .conteudo-opcoes .cont h6 {
  font-weight: 400;
  font-size: 20px;
  line-height: 135%;
}
@media (max-width: 1600px) {
  .produto-detalhe .conteudo-opcoes .cont h6 {
    font-size: 18px;
  }
}
@media (max-width: 992px) {
  .produto-detalhe .conteudo-opcoes .cont h6 {
    font-size: 18px;
  }
}
.produto-detalhe .conteudo-opcoes .cont h6 span {
  font-weight: 900;
}
.produto-detalhe .conteudo-opcoes .cont .prod {
  font-weight: 900;
  color: #FF3C01;
}

.kits p,
.kits h6 {
  font-weight: 400;
  font-size: 20px;
  line-height: 135%;
}
@media (max-width: 1600px) {
  .kits p,
.kits h6 {
    font-size: 18px;
  }
}
@media (max-width: 992px) {
  .kits p,
.kits h6 {
    font-size: 16px;
  }
}
.kits p span,
.kits h6 span {
  font-weight: 900;
  border-bottom: 1px solid #253E4F;
}
@media (max-width: 992px) {
  .kits .conteudo-kit {
    padding-top: 20px;
    justify-content: start !important;
  }
}
@media (max-width: 992px) and (max-width: 1400px) {
  .kits .conteudo-kit {
    font-size: 20px;
  }
}
@media (max-width: 992px) and (max-width: 992px) {
  .kits .conteudo-kit {
    font-size: 16px;
  }
}
@media (max-width: 992px) {
  .kits .conteudo-kit p {
    padding-left: 0px !important;
  }
}
@media (max-width: 992px) {
  .kits .conteudo-kit ul {
    padding-left: 0px !important;
  }
}
.kits .conteudo-kit ul li {
  list-style: none;
  font-weight: 400;
  font-size: 20px;
  line-height: 135%;
}
@media (max-width: 1400px) {
  .kits .conteudo-kit ul li {
    font-size: 20px;
  }
}
@media (max-width: 992px) {
  .kits .conteudo-kit ul li {
    font-size: 16px;
  }
}
.kits .conteudo-kit ul li span {
  font-weight: 900;
  padding-right: 4px;
}

.detalhes-tecnicos .div-titulo {
  background: linear-gradient(90deg, #FF3C01 0%, #FF6A00 100%);
  border-radius: 3px 3px 0px 0px;
}
.detalhes-tecnicos .div-titulo h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  padding: 25px;
  margin-bottom: 0px;
}
.detalhes-tecnicos .div-detalhes {
  background: white;
  /*@media (min-width:992px)and(max-width: 1200px) {
      & img {
          margin: 0px 20px;
      }
  }*/
}
.detalhes-tecnicos .div-detalhes .conteudo {
  text-align: center;
}
.detalhes-tecnicos .div-detalhes h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 135%;
  color: #253E4F;
}
@media (max-width: 1200px) {
  .detalhes-tecnicos .div-detalhes h2 {
    text-align: center;
  }
}
.detalhes-tecnicos .div-detalhes p {
  font-size: 16px;
  font-weight: 500;
  line-height: 135%;
  color: #253E4F;
}
@media (max-width: 1200px) {
  .detalhes-tecnicos .div-detalhes p {
    text-align: center;
  }
}
.detalhes-tecnicos .div-detalhes img {
  width: 80%;
  margin-left: 10px;
}

.relacionados .div-titulo h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #253E4F;
  margin-bottom: 0px;
}
@media (max-width: 767px) {
  .relacionados .div-titulo h2 {
    text-align: center;
  }
}
@media (max-width: 992px) {
  .relacionados .mySwiper-relacionados {
    margin-bottom: 40px;
  }
}
.relacionados .mySwiper-relacionados .swiper-slide {
  background: white;
  position: relative;
}
.relacionados .mySwiper-relacionados .swiper-slide .conteudo {
  margin-top: 50px;
}
.relacionados .mySwiper-relacionados .swiper-slide .conteudo h2 {
  font-weight: 700;
  font-size: 28px;
  line-height: 135%;
}
.relacionados .mySwiper-relacionados .swiper-slide .conteudo a {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FF3C01;
}
@media (max-width: 1400px) {
  .relacionados .mySwiper-relacionados .swiper-slide .conteudo a {
    font-size: 18px;
  }
}
@media (max-width: 992px) {
  .relacionados .mySwiper-relacionados .swiper-slide .conteudo a {
    font-size: 16px;
  }
}
.relacionados .mySwiper-relacionados .swiper-slide .conteudo a svg {
  width: 10px;
  font-weight: 100;
}
.relacionados .mySwiper-relacionados .swiper-slide .conteudo img {
  width: 100%;
}
@media (max-width: 576px) {
  .relacionados .mySwiper-relacionados .swiper-slide .conteudo img {
    padding-bottom: 20px;
  }
}
.relacionados .mySwiper-relacionados .swiper-slide:hover {
  overflow: hidden;
}
.relacionados .mySwiper-relacionados .swiper-slide:hover img {
  transform: scale(1.2);
  /* aumenta a imagem em 10% */
  transition: transform 0.3s ease-in-out;
}
.relacionados .mySwiper-relacionados .swiper-slide:hover h2 {
  z-index: 2;
}
.relacionados .mySwiper-relacionados .swiper-slide:hover a {
  z-index: 1;
  margin-right: 5px;
  transition: margin-right 0.3s ease-in-out;
}
.relacionados .mySwiper-relacionados .swiper-slide:hover a svg {
  transition: margin-left 0.3s ease-in-out;
  margin-left: 15px;
}
.relacionados .mySwiper-relacionados .swiper-pagination {
  --swiper-theme-color: #FF3C01;
  display: none !important;
}
@media (max-width: 576px) {
  .relacionados .mySwiper-relacionados .swiper-pagination {
    display: block !important;
  }
}
.relacionados .mySwiper-relacionados .swiper-button-next,
.relacionados .mySwiper-relacionados .swiper-button-prev {
  color: white;
  padding: 12px !important;
  --swiper-navigation-size: 20px;
  border-radius: 50%;
  background-color: #FF3C01;
}
@media (max-width: 576px) {
  .relacionados .mySwiper-relacionados .swiper-button-next,
.relacionados .mySwiper-relacionados .swiper-button-prev {
    display: none;
  }
}
.relacionados .mySwiper-relacionados .swiper-button-next:after,
.relacionados .mySwiper-relacionados .swiper-button-prev:after {
  font-size: 8px !important;
  font-weight: 900;
}
/*# sourceMappingURL=main.css.map */
