// Estilos do header
body {
    font-family: 'Poppins';
    font-style: normal;
    overflow-x: hidden;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;

    & .img-logo {
        @media(max-width: 992px) {
            width: 180px;
        }
    }

    & .row {
        margin: 10px 20px;
        border-radius: 10px;
        background: rgba(40, 60, 101, 0.8);
        position: relative;

        & .p-button {
            border-radius: 40px;
            padding: 10px 32px !important;
        }

        & .btn-success {
            padding: 10px;
        }

        & ul {
            margin-bottom: 0px;
            margin-top: 0px;
            padding-left: 0px;
            position: initial;
            z-index: 2;

            & li {
                list-style: none;
                margin: 0px 25px;

                @media (max-width:1200px) {
                    margin: 0px 10px;
                }

                width: 100%;

                & a {
                    color: white;
                    white-space: nowrap;
                    font-weight: 600;
                    font-size: 18px;

                    @media (max-width:1600px) {
                        font-size: 16px;
                    }

                    line-height: 30px;
                }

                & .empresa {
                    &:hover {
                        &::after {
                            content: "sobre a empresa";
                            color: transparent;
                            border-bottom: 4px solid #7df2d2;
                            border-radius: 5px 5px 0px 0px;
                            position: absolute;
                            bottom: 0;
                            display: flex;
                            z-index: 2;
                        }
                    }
                }

                & .solucoess {
                    &:hover {
                        &::after {
                            content: "solucoes";
                            color: transparent;
                            border-bottom: 4px solid #7df2d2;
                            border-radius: 25px 5px 0px 0px;
                            position: absolute;
                            bottom: 0;
                            display: flex;
                            z-index: 2;
                        }
                    }
                }

                & .certificacoes {
                    &:hover {
                        &::after {
                            content: "certificacoes";
                            color: transparent;
                            border-bottom: 4px solid #7df2d2;
                            border-radius: 5px 5px 0px 0px;
                            position: absolute;
                            bottom: 0;
                            display: flex;
                            z-index: 2;
                        }
                    }
                }

                & .contato {
                    &:hover {
                        &::after {
                            content: "contato";
                            color: transparent;
                            border-bottom: 4px solid #7df2d2;
                            border-radius: 5px 5px 0px 0px;
                            position: absolute;
                            bottom: 0;
                            display: flex;
                            z-index: 2;
                        }
                    }
                }

            }

            & .dropdown-menu {
                //border: 1px solid gold !important;
                inset: 7px auto auto -10px !important;
            }
        }
    }
}

.header-wrapper {
    background: linear-gradient(0deg, rgba(16, 29, 54, 0.81), rgba(16, 29, 54, 0.81)), url(../images/banners/solucoes.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 50%;

    & .breadcrumb-wrapper {
        & .div {
            //border: 1px solid red;
            padding-top: 120px;

            @media(max-width: 992px) {
                padding-top: 180px;
                padding-bottom: 50px;
            }

            & .img {
                margin: auto;
                //display: flex;
                width: 950px;

                @media(max-width: 992px) {
                    width: 700px;
                }

                @media(max-width: 767px) {
                    width: 500px;
                }

                @media(max-width: 576px) {
                    width: 380px;
                }

                left: 50%;
                transform: translate(-50%, -50%);
                position: absolute;
            }

            & h2 {
                font-weight: 600;
                font-size: 60px;

                @media(min-width: 992px) {
                    padding-top: 12px;
                }

                @media(max-width: 992px) {
                    font-size: 40px;
                    text-align: center;
                }

                @media(max-width: 576px) {
                    font-size: 30px;
                }

                line-height: 40px;
                //margin-top: -10px;
                text-align: center;
                //width: 100%;
                color: white;
            }

            & a {
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: white;
            }
        }
    }
}