.empresa {
    & .swiper {
        padding-bottom: 40px;

        & .swiper-pagination {
            --swiper-theme-color: #7df2d2;
        }
    }

    & .p {
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;

        color: #283C65;
    }

    & h2 {
        font-weight: 600;
        font-size: 40px;
        line-height: 95%;
        //text-align: center;

        @media (max-width:1600px) {
            font-size: 32px;
        }

        color: #283C65;

    }

    & .img {
        background-color: #51EEC3;
        width: 80px;
        height: 80px;
        padding: 20px;
        border-radius: 50%;
        display: flex;

        margin: auto;

        & img {
            width: 40px;
            height: 40px;
        }
    }

    & .valores-empresa {
        & .col-lg-4 {
            padding: 0px 20px;

            @media(max-width: 992px) {
                margin: 30px 0px;
            }

            & .estilo {
                //border: 1px solid red;
                //background-color: rgba(40, 60, 101, 0.8);

                box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
            }
        }
    }
}