.home {
    .ratio-16x9 {
        margin-top: -80px;
    }

    & .banner-swiper {

        & .swiper-button-next,
        .swiper-button-prev {
            --swiper-theme-color: white;
            --swiper-navigation-size: 18px;
            border: 1px solid #51EEC3;
            border-radius: 50%;
            padding: 16px;
        }

        & .swiper-button-next {
            right: 5% !important;

            @media(max-width: 992px) {
                right: 0;
            }
        }

        & .swiper-button-prev {
            left: 5% !important;

            @media(max-width: 992px) {
                left: 0;
            }
        }
    }
}

.residuos {
    & .hoverr-button {
        opacity: 1 !important;
        margin-top: 40px !important;
        border-radius: 40px;
        padding: 10px 32px !important;
    }

    & .hoverr-h2 {
        margin-top: -40px !important;
        transition: margin-top 0.25s ease-in-out;
    }

    & .hoverr {
        transform: scaleY(120%) !important;
        transition: transform 0.25s ease-in-out;
        z-index: 1;

        & .img-bg {
            display: none !important;
        }

        & .img-hover {
            display: block !important;
        }

        @media(max-width: 992px) {
            margin: 50px 0px;

            & .img-bg {
                display: none;
            }

            & .img-hover {
                display: block;
            }


            transform: scaleY(120%) !important;
            transition: transform 0.25s ease-in-out;
            z-index: 1 !important;

            & .img-bg {
                display: none;
            }

            & .img-hover {
                display: block;
            }
        }
    }

    & .p-button:hover {
        opacity: 1;
        margin-top: 40px;
        border-radius: 40px;
        padding: 10px 32px !important;
    }

    & .col-lg-4 {
        & .div-cont {
            position: relative;
        }

        & .h2,
        button {
            position: absolute;
            left: 50%;
            top: 20%;
            transform: translate(-50%, -50%);
            z-index: 2;
            margin-top: 0px;
            transition: margin-top 0.25s ease-in-out;

            @media(max-width: 992px) {
                top: 50%;
            }
        }

        & button {
            opacity: 0;
        }

        & .ratio::before {
            margin-top: 0px !important;
        }

        & .biologicos,
        .biologicos2,
        .biologicos3 {

            @media(max-width: 992px) {
                margin: 50px 0px;

                & .img-bg {
                    display: none;
                }

                & .img-hover {
                    display: block;
                }
            }

            margin-bottom: 60px;
            margin-top: -120px;
            transform: scaleY(100%);
            transition: transform 0.25s ease-in-out;
            z-index: 1;

            &:hover {
                transform: scaleY(120%);
                transition: transform 0.25s ease-in-out;
                z-index: 1;

                & .img-bg {
                    display: none;
                }

                & .img-hover {
                    display: block;
                }

                &~.h2 {
                    margin-top: -40px;
                    transition: margin-top 0.25s ease-in-out;
                }

                &~button {
                    opacity: 0.9;
                    transition: opacity 0.25s ease-in-out;
                    margin-top: 40px;
                    border-radius: 40px;
                    padding: 10px 32px !important;
                }
            }
        }

        & .biologicos,
        img {}
    }
}

.rodosul {
    background-color: #EAEAEA;

    & .sem-rodosul {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 40%;
        z-index: 1;

        @media (max-width:1600px) {
            //width: 40%;
        }
    }

    & .com-rodosul {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 40%;
        z-index: 1;

        @media (max-width:1600px) {
            // width: 40%;
        }
    }

    & .border {
        position: absolute;
        right: 0;
        top: 0;
        border: none;
        //border: 0.5px solid #283C65 !important;
    }

    & ul {
        & li {
            list-style: none;
            margin-top: 22px;
        }
    }
}

.parceiros {

    & h2 {
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        /* identical to box height */

        text-align: center;
        letter-spacing: 0.75em;
        text-transform: uppercase;
        color: #0055FF;
    }

    & img {
        width: 180px !important;
        height: 50px;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.form {
    & .container {
        @media (max-width: 1600px) {
            max-width: 1300px !important;
        }

        @media (max-width: 1400px) {
            max-width: 1200px !important;
        }

        @media (max-width: 1200px) {
            max-width: 1200px;
        }
    }

    & .form-control {
        padding: 5px !important;
    }

    & .form-select {
        padding: 5px 0px !important;
    }

    & iframe {
        margin-bottom: -10px;
    }

    & .ajuste-lateral {
        margin: -10px -20px;
    }


    & .row {
        background-color: #EAEAEA;
        border-radius: 40px;
        overflow: hidden;
    }

    & .div-form,
    .div-form-modal {
        width: 80%;

        @media(max-width: 1300px) {
            width: 80%;
        }

        & h2 {
            font-weight: 700;
            font-size: 32px;
            line-height: 48px;
            /* identical to box height */


            color: #283C65;

        }

        & .btn {
            border-radius: 40px;
            padding: 10px 32px;
        }

        & form {
            & textarea {
                //     border: 1px solid #252525 !important;
                height: 80px !important;
            }

            & .input-checkbox {
                background: red !important;
                border-radius: none !important;
            }

            & p {
                color: #252525;
                font-weight: 400;
                font-size: 18px;
                //line-height: 77px;

                @media(max-width: 992px) {
                    font-size: 16px;
                }

                & span {
                    font-weight: 700;
                    border-bottom: 1px solid #252525;
                }
            }
        }
    }

    & .div-form-modal {
        width: 100%;
    }

    & .bg-cinza {
        & img {
            @media(max-width: 992px) {
                width: 100%;
            }
        }
    }
}

#certificacoes {

    & .certificacoes-img-esq {
        padding: 120px;

        @media(max-width: 992px) {
            //margin-top: -100px;
            padding: 80px 80px 0px 80px;
        }
    }

    & .certificacoes-img-dir {
        padding: 120px;

        @media(max-width: 992px) {
            //margin-top: -100px;
            padding: 0px 80px 80px 80px;
        }
    }
}