#home {
    overflow: hidden;

    & .ratio-custom {
        --bs-aspect-ratio: 42.8571428571%;

        @media (max-width: 992px) {
            --bs-aspect-ratio: 150%;
        }
    }
}

.construcao {
    & .construcao-swiper {

        & .swiper-slide {

            background-image: url(../images/backgrounds/construcao.png);
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;

            & .conteudo {
                padding: 167px 0px;

                @media (max-width: 1200px)and(min-width: 992px) {
                    padding: 210px 0px;
                }

                & button {
                    @media (max-width: 1200px)and(min-width: 992px) {
                        padding: 8px 18px;
                    }
                }

                & .h2-light {
                    @media (max-width: 1200px)and(min-width: 992px) {
                        font-size: 35px;
                    }
                }
            }

            & .p {
                color: white;

                span {
                    font-weight: 700;
                }
            }
        }

        & .swiper-button-next,
        .swiper-button-prev {
            --swiper-navigation-size: 20px;
            --swiper-theme-color: white;
        }

        & .swiper-button-next {
            right: 20px;
        }

        & .swiper-button-prev {
            left: 20px;
        }

        & .swiper-scrollbar {
            height: 8px;
            border-radius: 0px;
            bottom: 0px;
        }

        & .swiper-scrollbar-drag {
            background: white;
            border-radius: 0px;
        }
    }
}

.areas {

    //width: 61.6%;
    & .container {
        @media(min-width: 1600px) {
            padding-right: 130px;
        }

        @media(max-width: 1600px) {
            padding: 40px 0px;
        }

        & .areas-swiper {
            //padding-right: 60px;
            padding-bottom: 30px;
            display: flex;
            align-items: center;

            & .swiper-slide {

                border: 3px solid white;
                background-color: #EAEAEA;
                padding: 20px 40px;
                box-shadow: 0px 10px 22px rgba(0, 0, 0, 0.3);

                @media(max-width: 1600px) {
                    padding: 20px 20px;
                }
            }

            & .swiper-pagination {
                bottom: 0 !important;
                --swiper-theme-color: #0072BE;
            }
        }

        .p {
            font-size: 16px;
        }
    }
}

.nossa-historia {
    background-color: #EAEAEA;

    @media (min-width: 992px) {
        padding-right: 132px;
    }

    & .row {
        background-image: url(../images/backgrounds/historia.png);
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        color: white;

        & .eng {
            margin-right: -12px;

            @media (max-width: 1800px) {
                width: 35%;
            }

            @media (max-width: 1600px) {
                width: 40%;
            }
        }

        & .eng2 {
            @media (max-width: 576px) {
                width: 100%;
            }
        }

        & .conteudo {
            //padding: 0px 150px;
            padding-left: 240px;
            padding-right: 40px;

            @media (max-width: 1600px) {
                padding: 50px;
            }

        }
    }
}

.diferenciais {
    background-color: #EAEAEA;
    //padding-right: -30px;

    & .row {

        & .diferenciais-swiper {

            &::after {
                content: "DIFERENCIAIS";
                position: absolute;
                top: 50px;
                left: 50%;
                width: 100%;
                font-weight: 700;
                font-size: 210px;
                line-height: 135%;
                text-align: center;
                color: rgba(0, 0, 0, 0.05);
                transform: translate(-50%, -50%);

                @media(max-width: 1850px) {
                    font-size: 145px;
                }

                @media(max-width: 1300px) {
                    font-size: 80px;
                }

                @media(max-width: 767px) {
                    font-size: 60px;
                }

                @media(max-width: 567px) {
                    font-size: 50px;
                }

                @media(max-width: 400px) {
                    font-size: 45px;
                }
            }

            & .swiper-wrapper {

                & .swiper-slide {


                    & img {
                        padding: 30px;
                        border-radius: 50%;
                        background-color: white;
                        box-shadow: 0px 10px 22px rgba(0, 0, 0, 0.3);

                        @media(max-width: 1300px) {
                            padding: 20px;
                            width: 80px;
                        }
                    }

                    & h6 {
                        width: 80%;
                        text-align: center;
                    }
                }
            }

            & .swiper-pagination {
                --swiper-theme-color: #0072BE;
            }

        }
    }
}

.empresas-parceiras {
    background-color: white;

    h2 {
        font-weight: 700;
        font-size: 32px;
        line-height: 135%;
        /* or 43px */
        color: #0072BE;

        & span {
            color: #252525;
        }
    }

    & .row {
        & .empresas-swiper {

            & .swiper-wrapper {

                & .swiper-slide {


                    & img {
                        width: 150px;

                        @media(max-width: 1300px) {
                            width: 120px;
                        }

                        @media(max-width: 992px) {
                            width: 150px;
                        }
                    }
                }
            }

            & .swiper-pagination {
                & .swiper-pagination-bullet {
                    width: 14%;
                    border-radius: 0;
                    margin: 0px;
                    height: 3px;
                    --swiper-theme-color: #0072BE;

                    @media(max-width: 992px) {
                        width: 80px;
                    }

                    @media(max-width: 767px) {
                        width: 60px;
                    }

                    @media(max-width: 576px) {
                        width: 35px;
                    }

                    &-active {
                        height: 6px;
                    }
                }
            }
        }
    }
}