#solucoes {
    overflow: hidden;
    margin-top: -1px;
}

html {
    overflow-x: hidden;
}

.solucoes {
    & .cont1,
    .cont2,
    .cont3

    /*,
    .cont4,
    .cont5,
    .cont6 */
        {
        margin-top: -1px;
    }

    & .cont1,
    .cont2,
    .cont3,
    .cont4,
    .cont5,
    .cont6 {
        height: 210px;

        & .bg-custom {
            background-color: rgba(0, 0, 0, 0.4);
            transition: background-color 0.3s ease-out;
            height: 210px;

            & div {
                padding: 12px 0px;

                & h2 {
                    font-weight: 700;
                    font-size: 32px;
                    line-height: 40px;
                    text-align: center;
                    color: white;
                    margin-bottom: 0px;
                    margin-top: 70px;
                    transition: margin-top 0.3s ease-out;
                }

                & p {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 135%;
                    text-align: center;
                    color: white;
                    padding: 0px 20%;
                    // display: none;
                    opacity: 0;
                    transition: opacity 0.3s ease-out;
                }
            }
        }

        &:hover {
            background-size: 100% 100%;
            transition: background-size 0.3s ease-in-out;

            & .bg-custom {
                background-color: rgba(0, 114, 190, 0.9);
                transition: background-color 0.3s ease-out;
                height: 210px;

                & div {
                    padding: 47px 0px;

                    & h2 {
                        margin-top: 0px;
                        transition: margin-top 0.3s ease-out;
                    }

                    & p {
                        transition: opacity 0.3s ease-out;
                        //display: block;
                        opacity: 1;
                    }
                }
            }
        }
    }

    & .cont1 {
        background-image: url(../images/backgrounds/solucoes1.png);
        background-repeat: no-repeat;
        background-size: 110% 110%; //cover;
        transition: background-size 0.3s ease-in-out;
    }

    & .cont2 {
        background-image: url(../images/backgrounds/solucoes2.png);
        background-repeat: no-repeat;
        background-size: 110% 110%; //cover;
        transition: background-size 0.3s ease-in-out;
    }

    & .cont3 {
        background-image: url(../images/backgrounds/solucoes3.png);
        background-repeat: no-repeat;
        background-size: 110% 110%; //cover;
        transition: background-size 0.3s ease-in-out;
    }

    & .cont4 {
        background-image: url(../images/backgrounds/solucoes4.png);
        background-repeat: no-repeat;
        background-size: 110% 110%; //cover;
        transition: background-size 0.3s ease-in-out;
    }

    & .cont5 {
        background-image: url(../images/backgrounds/solucoes5.png);
        background-repeat: no-repeat;
        background-size: 110% 110%; //cover;
        transition: background-size 0.3s ease-in-out;
    }

    & .cont6 {
        background-image: url(../images/backgrounds/solucoes6.png);
        background-repeat: no-repeat;
        background-size: 110% 110%; //cover;
        transition: background-size 0.3s ease-in-out;
    }

    & .cont-swiper {

        & .slide-img {
            background-image: url(../images/backgrounds/solucoes1.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position-y: 50%;
            background-position-x: 50%;

            & .bg-custom {
                background-color: rgba(0, 0, 0, 0.4);

                & h2 {
                    //opacity: 0;
                    padding: 100px 0px;
                    font-weight: 700;
                    font-size: 26px;
                    line-height: 40px;
                    text-align: center;
                    color: white;

                    @media(max-width: 767px) {
                        padding: 100px;
                    }

                    @media(max-width: 576px) {
                        padding: 100px;
                    }
                }
            }
        }

        & .swiper-button-next,
        .swiper-button-prev {
            --swiper-navigation-size: 20px;
            --swiper-theme-color: white;
        }

        & .swiper-button-next {
            right: 15px;
        }

        & .swiper-button-prev {
            left: 15px;
        }
    }
}

.bg-cinza {
    background-color: #eaeaea;
}

.consultoria {
    position: relative;

    & .inf-dir {
        position: absolute;
        right: 0;
        bottom: 0;
    }

    & .container {
        @media(min-width: 1600px) {
            max-width: 1688px;
        }

        @media(min-width: 992px)and(max-width: 1600px) {
            max-width: 1475px;
            //padding-left: 100px;
        }

        & .col-consult {

            @media(max-width: 1300px) {
                //align-items: center;
            }
        }

        & .consultoria-swiper {

            & .swiper-button-next,
            .swiper-button-prev {
                --swiper-navigation-size: 20px;
                --swiper-theme-color: white;
                padding: 18px;
                background: linear-gradient(86.09deg, #0072BE 0%, #2EB4FF 100%);
                top: 30%;

                @media (min-width: 992px)and(max-width: 1100px) {
                    top: 20%;
                }

                @media (max-width: 992px) {
                    top: 45%;
                }

            }

            & .swiper-button-next {
                right: 25px;

                @media (max-width: 767px) {
                    right: 0px;
                }
            }

            & .swiper-button-prev {
                left: 25px;

                @media (max-width: 767px) {
                    left: 0px;
                }
            }

            & .swiper-scrollbar {
                bottom: 69px;
                width: 90%;
            }
        }

        & .swiper-consultoria-diferenciais {
            margin-top: -210px;

            @media(max-width: 1600px) {
                margin-top: -100px;
            }

            @media(max-width: 1400px) {
                margin-top: -150px;
            }

            @media(max-width: 1300px) {
                margin-top: -200px;
            }

            @media(max-width: 1200px) {
                margin-top: -240px;
            }

            @media(max-width: 1100px) {
                margin-top: -280px;
            }

            @media (max-width: 992px) {
                margin-top: 0px;
            }

            & .swiper-wrapper {

                & .swiper-slide {


                    & img {
                        padding: 30px;
                        border-radius: 50%;
                        background-color: white;
                        box-shadow: 0px 10px 22px rgba(0, 0, 0, 0.3);

                        @media(max-width: 1400px) {
                            padding: 20px;
                            width: 80px;
                        }
                    }

                    & h6 {
                        width: 80%;
                        text-align: center;
                    }
                }
            }

            & .swiper-pagination {
                --swiper-theme-color: #0072BE;

                @media (min-width: 992px)and(max-width: 1100px) {
                    bottom: 20px;
                }

                @media (max-width: 992px) {
                    bottom: 10px;
                }
            }
        }

        & .conteudo {
            @media (max-width: 767px) {
                padding: 0px 40px;
            }

            & h2 {
                font-weight: 700;
                font-size: 32px;
                line-height: 39px;
                color: #252525;
                position: relative;
                padding-bottom: 50px;
                margin-bottom: 50px;

                &::after {
                    content: 'meyer';
                    color: transparent;
                    position: absolute;
                    bottom: 0;
                    display: flex;
                    border-bottom: 2px solid #0072BE;
                }
            }

            & .p {
                font-weight: 400;
                font-size: 20px;
                color: #252525;
                line-height: 135%;
                padding-right: 60px;

                @media(max-width: 1600px) {
                    padding-right: 0px;
                    font-size: 16px;
                    padding-left: 0px;
                }
            }
        }
    }
}

.section2 {
    position: relative;

    @media(min-width:992px) {
        padding: 120px 0px;
    }

    .bg-cinza {
        background-color: #eaeaea;
    }

    & .sup-esq {
        position: absolute;
        top: 0;
    }

    & .sup-dir {
        position: absolute;
        top: 0;
        right: 0;
    }

    & .inf-dir {
        position: absolute;
        right: 0;
        bottom: 0;
    }

    & .consultoria-swiper {

        & .swiper-button-next,
        .swiper-button-prev {
            --swiper-navigation-size: 20px;
            --swiper-theme-color: white;
            padding: 18px;
            background: linear-gradient(86.09deg, #0072BE 0%, #2EB4FF 100%);
            top: 45%;

            @media (min-width: 992px)and(max-width: 1100px) {
                //top: 20%;
            }

            @media (max-width: 992px) {
                top: 45%;
            }

        }

        & .swiper-button-next {
            right: 2%;

            @media (max-width: 767px) {
                right: 0px;
            }
        }

        & .swiper-button-prev {
            left: 2%;

            @media (max-width: 767px) {
                left: 0px;
            }
        }

        & .swiper-scrollbar {
            bottom: 69px;
            width: 90%;
        }
    }

    & .conteudo {
        @media (max-width: 767px) {
            padding: 0px 40px;
        }

        & h2 {
            font-weight: 700;
            font-size: 32px;
            line-height: 39px;
            color: #252525;
            position: relative;
            padding-bottom: 30px;
            margin-bottom: 30px;

            &::after {
                content: 'meyer';
                color: transparent;
                position: absolute;
                bottom: 0;
                display: flex;
                border-bottom: 2px solid #0072BE;

                @media (max-width: 992px) {
                    transform: translate(-50%);
                    display: block;
                    left: 50%;
                }

            }
        }

        & .p {
            font-weight: 400;
            font-size: 20px;
            color: #252525;
            line-height: 135%;
            padding-right: 60px;

            @media(max-width: 1600px) {
                padding-right: 0px;
                font-size: 16px;
                padding-left: 0px;
            }
        }
    }
}

.form {

    & .div-form,
    .div-form-modal {
        width: 60%;

        @media(max-width: 1300px) {
            width: 70%;
        }

        & h2 {
            font-weight: 700;
            font-size: 32px;
            line-height: 39px;
            /* identical to box height */


            color: #252525;
        }

        & form {
            & textarea {
                //     border: 1px solid #252525 !important;
                height: 120px !important;
            }

            & .input-checkbox {
                background: red !important;
                border-radius: none !important;
            }

            & p {
                color: #252525;
                font-weight: 400;
                font-size: 18px;
                //line-height: 77px;

                @media(max-width: 992px) {
                    font-size: 16px;
                }

                & span {
                    font-weight: 700;
                    border-bottom: 1px solid #252525;
                }
            }
        }
    }

    & .div-form-modal {
        width: 100%;
    }

    & .bg-cinza {
        & img {
            @media(max-width: 992px) {
                width: 100%;
            }
        }
    }
}